<template>
    <div class="wrapper" id="wrapper" ref="wrapper" v-show="showloading">
        <div class="modal" v-show="showloading" @click="closeDialog"></div>
        <div class="modal-dialog" v-show="showloading">
            <div class="modal-title">
                <div class="title"><i class="graph graph-orderform"></i>新增采购单</div>
                <div class="modal-close" @click="closeDialog"><i class="el-icon-close"></i></div>
            </div>
            <div class="detail-summary">
                <!-- 搜索 -->
                <div class="search-box">
                    <div class="search-item">
                        <div class="item-label">SKU</div>
                        <div class="item-input"><input type="text" placeholder="请输入" class="form-control sch-item ml10"></div>
                    </div>
                    <div class="search-item">
                        <div class="item-label">SKU</div>
                        <div class="item-input"><input type="text" placeholder="请输入" class="form-control sch-item ml10"></div>
                    </div>
                    <div class="search-item">
                        <el-button type="primary">查询</el-button>
                        <el-button type="primary" @click="procurement">采购</el-button>
                    </div>
                </div>

                <div class="tab-cont">
                    <el-table ref="multipleTable" :data="tableData3" tooltip-effect="dark" style="width: 100%"  @selection-change="handleSelectionChange">
                        <el-table-column type="selection" width="55">
                        </el-table-column>
                        <el-table-column label="序号" show-overflow-tooltip>
                            <template slot-scope="scope">{{ scope.row.id }}</template>
                        </el-table-column>
                        <el-table-column prop="SKU" label="SKU" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="itemName" label="商品名称" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="stockInv" label="库存数量" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="roadInv" label="在途数量" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="purchaseRequested" label="已申请采购数" width="150px" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="thirtySales" label="30天销售数量" width="150px" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="itemStatus" label="商品状态" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="orderSize" label="采购数量" show-overflow-tooltip>
                            <template slot-scope="scope">
                                <el-input v-model="scope.row.count" placeholder="请输入内容" class="text-style"></el-input>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        showloading: this.showloading
    },
    data() {
        return {
            sku: '',
            form: {
                name: '',
                region: '',
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            formLabelWidth: '70px',
            tableData3: [
                {
                    id: 1,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                    count: ''
                },
                {
                    id: 2,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                    count: ''
                },
                {
                    id: 3,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                    count: ''
                },
                {
                    id: 4,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                    count: ''
                },
            ],
            multipleSelection: []
        }
    },
    created() {},
    methods: {
        closeDialog() {
            this.$emit('closeModal')
        },
        getValue() {
            let sku = this.sku
            if (sku) {
                this.$emit('getValue', sku)
                this.$emit('closeModal')
            }
        },
        procurement() {
            if (this.multipleSelection.length !== 0) {
                this.$emit('getValue')
                this.$emit('closeModal')
            }
        },
        handleSelectionChange(val) {
            this.multipleSelection = val
        }
    }
}
</script>

<style>
body {
    font-family: 'PingFangSC-Light', 'Hiragino Sans GB', Microsoft YaHei Light,
        Microsoft YaHei, Arial, sans-serif;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.modal-dialog {
    left: 50%;
    width: 800px;
    margin-left: -400px;
    position: absolute;
    top: 30px;
    bottom: 30px;
    margin-top: 0;
    border-radius: 5px;
    margin-bottom: 0;
    z-index: 1002;
    background-color: #eee;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.modal-title {
    padding-left: 20px;
    position: relative;
    background: #f5f5f5;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.modal-title .title {
    line-height: 50px;
    height: 50px;
    color: #454545;
    font-size: 14px;
    font-weight: bold;
}

.graph {
    background-image: url(../../../../assets/images/eteams_icons.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.graph-orderform {
    background-position: 0 -1127px;
}

.graph,
.detail-brand .img {
    margin-right: 12px;
    margin-left: -10px;
    height: 36px;
    width: 36px;
}

.modal-close {
    width: 45px;
    height: 50px;
    border-left: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #454545;
}

.detail-summary {
    padding: 15px 0;
    margin: 0 18px;
}

.summary-avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.summary-avatar img {
    width: 100%;
    height: 100%;
}

.summary-title {
    margin-left: 36px;
    font-weight: bold;
}

.summary-title textarea {
    height: 30px;
    line-height: 24px;
    border: 0;
    background: 0;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: bold;
    color: #454545;
    width: 100%;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-transition: background 0.3s linear;
    -o-transition: background 0.3s linear;
    transition: background 0.3s linear;
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    outline: none;
    font-family: inherit;
    box-sizing: border-box;
}

.summary-title textarea:focus,
.summary-title textarea:hover {
    background: #ddd;
}

.ex-text {
    font-size: 15px;
    font-weight: bold;
    color: #454545;
    font-family: inherit;
    padding: 3px 6px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-item {
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>