<template>
	<div class="detail-cont">
		<div class="add-tiel">
            <div class="win-avatar">
                <a href="#"><img src="../../assets/images/avatar.png"></a>
            </div>
            <div class="detail-header-ample">
                <div class="detail-top-title">新增供应商</div>
            </div>
            <ul class="wrap-ctr">
            	<li><i class="el-icon-edit-outline"></i> 保存</li>
            </ul>
            <div class="detail-close" @click="handleClose"><i class="el-dialog__close el-icon el-icon-close"></i></div>
        </div>
        <div class="scrollwrapper-content">
            <template v-if="tabIndex == 0">
            	<div class="wrap-title">基本信息:</div>
                <div :class="showMoreObj.info?'order-info':'order-info hide'">
                    <dl>
                        <dt>供应商名称</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>供应商编号</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>营业执照号</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>公司法人</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>是否禁用</dt>
                        <dd>
                        	<i>否</i>
							<el-switch v-model="banStatus">
							</el-switch>
							<i>是</i>
                        </dd>
                    </dl>
                </div>
                <div :class="showMoreObj.info?'list-foot up':'list-foot'" @click="showMore('info')">{{showMoreObj.info?'收起':'更多'}} <i class="el-icon-arrow-down"></i></div>
                
                <div class="wrap-title">联系方式:</div>
                <div :class="showMoreObj.contact?'count-info':'count-info hide'">
                    <dl>
                        <dt>联系人</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>座机电话</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>手机</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>QQ</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>传真号</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>阿里旺旺</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>国家</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>省份</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>市</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>区</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl style="width: 100%;">
                        <dt>详细地址</dt>
                        <dd>
                        	<textarea class="remarks"></textarea>
                        </dd>
                    </dl>
                    <dl style="width: 100%;">
                        <dt>供应商网址</dt>
                        <dd>
                        	<textarea class="remarks"></textarea>
                        </dd>
                    </dl>
                </div>
                <div :class="showMoreObj.contact?'list-foot up':'list-foot'" @click="showMore('contact')">{{showMoreObj.contact?'收起':'更多'}} <i class="el-icon-arrow-down"></i></div>
                
                <div class="wrap-title">账户信息:</div>
                <div :class="showMoreObj.count?'count-info':'count-info hide'">
                    <dl>
                        <dt>开户银行</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>账号</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>户名</dt>
                        <dd>
                        	<input type="text" class="input-form-control" >
                        	<div>
	                        	<i style="margin: 0;">设为默认</i>
								<el-switch v-model="accountDeft">
								</el-switch>
							</div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>支付宝号</dt>
                        <dd>
                        	<input type="text" class="input-form-control">
                        	<div>
	                        	<i style="margin: 0;">设为默认</i>
								<el-switch v-model="alipayDeft">
								</el-switch>
							</div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>货币类型</dt>
                        <dd>
                        	<select class="select-form-control">
                        		<option>请选择</option>
                        		<option>CNY</option>
                        		<option>THB</option>
                        	</select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>结算方式</dt>
                        <dd>
                        	<select class="select-form-control">
                        		<option>请选择</option>
                        		<option>账期</option>
                        		<option>预付</option>
                        	</select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>付款方式</dt>
                        <dd>
                        	<select class="select-form-control">
                        		<option>请选择</option>
                        		<option>CNY</option>
                        		<option>THB</option>
                        	</select>
                        </dd>
                    </dl>
                    <dl>
                        <dt>税率</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                    <dl>
                        <dt>返点比例</dt>
                        <dd><input type="text" class="input-form-control"></dd>
                    </dl>
                </div>
                <div :class="showMoreObj.count?'list-foot up':'list-foot'" @click="showMore('count')">{{showMoreObj.count?'收起':'更多'}} <i class="el-icon-arrow-down"></i></div>
                
                <div class="wrap-title">资质附件:</div>
                <div class="zz-pic-box">
	                <div class="zz-pic-list">
	            		<div class="item"><img src="../../assets/images/avatar.png"></div>
	            		<div class="add">
	            			<i class="el-icon-plus"></i>
	            			<span>上传附件</span>
	            		</div>
	            	</div>
            	</div>
                
                <!--<div class="count-info">
                    <dl>
                        <dt>总数量</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>结算方式</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>货款金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>已付金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>未付金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>邮资</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>税率</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>审核备注</dt>
                        <dd>100</dd>
                    </dl>
                </div>-->
                <!--<div class="detail-block-tbs">
                    <div class="detail-tab">
                        <ul>
                            <li :class="tabChangeStatus==0?'active':''" @click="tabChange(0)">联系记录</li>
                            <li :class="tabChangeStatus==1?'active':''" @click="tabChange(1)">查阅情况</li>
                            <li :class="tabChangeStatus==2?'active':''" @click="tabChange(2)">操作日志</li>
                        </ul>
                    </div>
                    <div class="comment" v-show="tabChangeStatus == 0">
                        <div class="comment-post">
                            <div class="comment-avatar"><img src="../../assets/images/avatar.png"></div>
                            <div class="comment-cont">
                                <textarea placeholder="说点什么"></textarea>
                                <div class="comment-option">
                                    <a type="button" class="btn-info a-submit">发表</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item" v-for="(item, index) in replayList" :key="index" @mouseover="showReplay(item)">
                            <div class="comment-avatar"><img :src="item.avatar"></div>
                            <div class="comment-box">
                                <div class="comment-name">{{item.uname}}</div>
                                <div class="comment-body">{{item.content}}</div>
                                <div class="comment-fot">
                                    <div class="comment-date">{{item.time}}</div>
                                    <div class="comment-ctr" v-show="replayShowStatus === item.id"><a href="#" class="replay" @click="doRpaly(item)"><i class="el-icon-edit-outline"></i>回复</a></div>
                                </div>
                                <div class="replay-cont" v-show="replayBoxShow === item.id">
                                    <div class="replay-to">回复@{{item.uname}}:</div>
                                    <textarea class="replay-textbox"></textarea>
                                    <div class="comment-option">
                                        <a type="button" class="btn-replay" @click="cancelReplay">取消</a>
                                        <a type="button" class="btn-replay">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="read-container" v-show="tabChangeStatus == 1">
                        <div class="read-item">
                            <a href="#">zouxiaobin</a>
                            <span>已查阅</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>已查阅</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>已查阅</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                    </div>
                    <div class="read-container" v-show="tabChangeStatus == 2">
                        <div class="read-item">
                            <a href="#">zouxiaobin</a>
                            <span>查看了采购详情</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>新增了采购订单</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>驳回了采购订单</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                    </div>
                </div>-->
            </template>
        </div>
	</div>
</template>

<script>
export default {
	props: {
		showloading: this.showloading
	},
	data() {
		return {
			replayShowStatus: '', //回复按钮显示状态
	        replayBoxShow: '', //回复输入框
	        tabIndex: '0', //弹窗页签
	        tabChangeStatus: '0', //tab状态码
	        replayList: [
                {
                    id: '1',
                    avatar: require('@/assets/images/avatar.png'),
                    uname: 'Ben',
                    content: '欢迎使用本系统',
                    time: '2018-10-26 11:23'
                },
                {
                    id: '2',
                    avatar: require('@/assets/images/avatar.png'),
                    uname: 'Ben1',
                    content: '欢迎使用本系统',
                    time: '2018-10-26 12:23'
                },
                {
                    id: '3',
                    avatar: require('@/assets/images/avatar.png'),
                    uname: 'Ben2',
                    content: '欢迎使用本系统',
                    time: '2018-10-26 14:23'
                }
            ],
            tableData3: [
                {
                    id: '1',
                    SKU: '0000101',
                    EANNo:'691232212663',
                    name: '华为荣耀8,银色，32G',
                    className: '手机',
                    status: '清货'
                },{
                    id: '2',
                    SKU: '0000101',
                    EANNo:'691232212663',
                    name: '华为荣耀8,银色，32G',
                    className: '手机',
                    status: '清货'
                },{
                    id: '3',
                    SKU: '0000101',
                    EANNo:'691232212663',
                    name: '华为荣耀8,银色，32G',
                    className: '手机',
                    status: '清货'
                },{
                    id: '4',
                    SKU: '0000101',
                    EANNo:'691232212663',
                    name: '华为荣耀8,银色，32G',
                    className: '手机',
                    status: '清货'
                },{
                    id: '5',
                    SKU: '0000101',
                    EANNo:'691232212663',
                    name: '华为荣耀8,银色，32G',
                    className: '手机',
                    status: '清货'
                }
            ],
            count:'',
            banStatus:true,  //是否禁用
            accountDeft:false,  //账户默认值
            alipayDeft:false,  //支付宝默认值
            showMoreObj:{
            	info:true,
            	contact:false,
            	count:false
            }
		}
	},
	created() {},
	methods: {
        tabChange(item) {
            this.tabChangeStatus = item
        },
        handleClose(){
			this.$emit('handleClose')
		},
		cancelReplay() {
            this.replayBoxShow = ''
        },
        showTab(item) {
            this.tabIndex = item
        },
        showReplay(item) {
            this.replayShowStatus = item.id
        },
        doRpaly(item) {
            this.replayBoxShow = item.id
        },
        handleSelectionChange(val) {
            this.multipleSelection = val
            console.log(val)
            if (val.length > 0) {
                this.ctrListStatus = true
            } else {
                this.ctrListStatus = false
            }
        },
        indexMethod(index) {
            return index + 1
        },
        showMore(val){
        	switch(val){
        		case 'info': 
    				this.showMoreObj.info = !this.showMoreObj.info
					break;
				case 'contact': 
    				this.showMoreObj.contact = !this.showMoreObj.contact
					break;
				case 'count': 
    				this.showMoreObj.count = !this.showMoreObj.count
					break;
        	}
        	
        }
	}
}
</script>

<style>
.detail-cont{
	flex: 1;
	display: flex;
	flex-direction: column;
}
/*弹出窗*/
.win-avatar {
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.win-avatar img {
    width: 100%;
    height: 100%;
}
.detail-header-ample {
    position: relative;
    flex: 1;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-close {
    width: 45px;
    height: 50px;
    border-left: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #454545;
}
.detail-top-title {
    font-size: 14px;
    color: #454545;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.detail-top-list {
    display: flex;
    flex: 1;
}
.detail-top-list li {
    margin-right: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}
.detail-top-list li a {
    color: #666666;
    text-decoration: none;
}
.detail-top-list li.cur,
.detail-top-list li:hover {
    border-bottom: 2px solid #2dc3e8;
    font-weight: bold;
}
.detail-top-list li.cur a,
.detail-top-list li:hover a {
    color: #2dc3e8;
}
.add-tiel {
    background: #f5f5f5;
    min-height: 51px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-tiel span {
    margin: 7px 0 0 20px;
    font-weight: bold;
    color: #454545;
    float: left;
    line-height: 36px;
    font-size: 15px;
}
.el-dialog__headerbtn {
    font-size: 24px;
    top: 12px;
}
.win-btn-box {
    margin: 15px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.all-search {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    max-height: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.open {
    max-height: 3000px;
    border: 1px solid #eaeaea;
}
.wrap-title{
	padding: 6px 17px;
    line-height: 30px;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    border-radius:3px 3px 0 0 ;
    box-sizing: border-box;
    color: #999;
    margin: 15px 15px 0 !important;
    background: #ffffff;
    font-size: 12px;
    font-weight: bold;
}
.zz-pic-box{
	margin: 0 15px 15px !important;
    background: #ffffff;
    border-radius: 0 0 3px 3px !important;
    border: 1px solid #e5e5e5;
}
.list-foot{
	padding: 4px 17px;
    line-height: 20px;
    font-size: 12px;
    border: 1px solid #e5e5e5;
    border-radius:0 0 3px 3px;
    box-sizing: border-box;
    color: #666666;
    margin: 0 15px 15px !important;
    background: #ffffff;
    text-align: center;
}
.list-foot:hover{
	background: #E5E5E5;
	cursor: pointer;
}
.list-foot.up i{
	transform: rotate(-180deg);
}
.order-info,
.count-info {
    margin: 0 15px !important;
    background: #ffffff;
    border-radius: 0 !important;
    border: 1px solid #e5e5e5;
    border-bottom: none;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
    transition: max-height .3s;
}
.order-info{
	max-height: 200px;
}
.count-info{
	max-height: 450px;
}
.order-info.hide,.count-info.hide{
	max-height: 0;
	border-top: none;
}
.order-info dl,
.count-info dl {
    padding: 6px 17px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    width: 50%;
    margin: 0;
    font-size: 12px;
    display: flex;
    box-sizing: border-box;
    color: #666666;
    margin-bottom: -1px;
}
.order-info dl dt {
    width: 90px;
    font-weight: bold;
}
.order-info dl dd {
    font-size: 14px;
}
/*.order-info span {
    display: inline-block;
    width: 33.33%;
    color: #666;
    line-height: 40px;
    font-size: 13px;
}*/
.order-info dl dd i{
	font-size: 14px;
	font-style: normal;
}
.count-info dl dt {
    width: 90px;
    text-align: left;
    color: #999;
    font-weight: bold;
    display: flex;
    align-items: center;
}
.count-info dl dd {
    margin-left: 0;
    color: #999;
    font-size: 14px;
    flex: 1;
}
.count-info dl dd i{
	font-size: 12px;
	font-style: normal;
	margin-left: 30px;
}
.order-detail {
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin: 0 15px;
}
.detail-title {
    height: 40px;
    line-height: 40px;
}
.detail-title span {
    font-size: 14px;
    border-left: 3px solid #23b7e5;
    padding-left: 10px;
    color: #666666;
}
.count-line {
    font-size: 14px;
    line-height: 40px;
    color: #666;
    display: flex;
    flex-flow: wrap;
}
.count-line span {
    display: inline-block;
    width: 20%;
    font-size: 13px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.open-win-btn {
    border-top: 1px solid #dddddd;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.el-button--primary {
    background-color: #23b7e5;
    border-color: #18aedb;
    padding: 8px 20px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #23b7e5;
}
.detail-block-tbs {
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    margin: 0 18px 13px;
}
.detail-tab {
    height: 50px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
.detail-tab ul li {
    float: left;
    text-align: center;
    margin: 0 15px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 45px;
    color: #777;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    cursor: pointer;
}
.detail-tab ul li:hover {
    color: #444;
    font-weight: bold;
}
.detail-tab ul li.active {
    color: #444;
    font-weight: bold;
    border-bottom: 2px solid #2dc3e8;
}
.comment-post {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
.comment-avatar img {
    width: 100%;
}
.comment-cont {
    flex: 1;
    margin-left: 15px;
}
.comment-cont textarea {
    border-radius: 3px;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    resize: none;
}
.comment-option {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}
.a-submit {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-color: #23b7e5;
    border-color: #18aedb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 3px;
}
.a-submit.green{
	background-color: #5cb85c;
}
.a-submit:hover {
    background-color: #1f9fd1;
}
.a-submit.green:hover{
	background-color: #50a050;
}
.comment-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-item:hover {
    background: #f7fdff;
}
.comment-item:last-child {
    border: none;
}
.comment-box {
    flex: 1;
    margin-left: 15px;
}
.comment-box .comment-name {
    text-decoration: none;
    color: #108ee9;
}
.comment-box .comment-body {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 24px;
    font-size: 14px;
}
.comment-box .comment-fot {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
}
.comment-box .comment-date {
    color: #bbb;
    font-size: 12px;
}
.comment-box .replay {
    display: inline-block;
    color: #8899a6;
    text-decoration: none;
    font-size: 12px;
}
.comment-box .replay i {
    font-size: 14px;
    margin-right: 5px;
}
.replay-cont {
    padding-top: 5px;
}
.replay-to {
    font-size: 12px;
    color: #bbb;
}
.replay-textbox {
    border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    height: 45px;
    resize: none;
    box-sizing: border-box;
    margin-top: 5px;
}
.btn-replay {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #666;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 30px;
    box-sizing: border-box;
    margin-left: 5px;
}
.btn-replay:hover {
    background-color: #e6e6e6;
}
.order-detail-layer {
    padding: 20px;
}
.read-container {
    padding: 0 15px;
}
.read-item {
    display: flex;
    height: 35px;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}
.read-item:last-child {
    border: none;
}
.read-item a {
    color: #108ee9;
    display: inline-block;
    width: 100px;
    text-decoration: none;
}
.read-item span {
    color: #999;
    display: inline-block;
    width: 130px;
}
.read-item em {
    color: #999;
    display: inline-block;
    flex: 1;
    font-style: normal;
}
.add-btn-box{
	text-align: right;
	padding-top: 10px;
	padding-right: 15px;
}
.select-form-control{
	border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
}
.zz-pic-list{
	padding: 20px;
	display: flex;
	flex-flow: wrap;
}
.zz-pic-list .item{
	width: 160px;
	height: 160px;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0 2px 8px #ddd;
    -moz-box-shadow: 0 2px 8px #ddd;
    box-shadow: 0 2px 8px #ddd;
    margin-right: 20px;
    cursor: pointer;
}
.zz-pic-list .item img{
	width: 100%;
	height: 100%;
}
.zz-pic-list .add{
	width: 160px;
	height: 160px;
    border: 1px solid #e7e7e7;
    -webkit-box-shadow: 0 2px 8px #ddd;
    -moz-box-shadow: 0 2px 8px #ddd;
    box-shadow: 0 2px 8px #ddd;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.zz-pic-list .add i{
	font-size: 40px;
    color: #999;
 	font-weight: bold;
 	clear: both;
}
.zz-pic-list .add:hover{
	color: #000;
}
.zz-pic-list .add span{
	font-size: 14px;
	color: #999;
	padding-top: 15px;
}
.input-form-control{
	border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
}
.input-form-control:hover{
	border: 1px solid #ddd;
    transition: border .2s,box-shadow linear .2s;
}
.input-form-control:focus {
    border-color: rgba(82,168,236,0.8);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.remarks {
    border-radius: 3px;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
 -webkit-box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
    width: 100%;
    min-height: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
}
.wrap-ctr{
	height: 50px;
}
.wrap-ctr li{
	padding: 0 12px;
	line-height: 50px;
	color: #454545;
	font-size: 14px;
	cursor: pointer;
}
.wrap-ctr li:hover{
	background: #eee;
}
</style>