<template>
    <div class="app-content">
        <!-- 批量操作框 -->
        <div class="batch-box" v-show="getCheckClickLen">
            <div class="batch-func">
                <i :class="checkStatus?'check active':'check'" @click="allChecked"><i class="el-icon-check"></i></i>
                <div class="batch-btn">批量关注</div>
                <div class="batch-btn">批量共享</div>
                <div class="batch-btn">批量参与</div>
                <div class="batch-btn">取消共享</div>
                <div class="batch-btn">批量转移</div>
                <div class="batch-btn">批量删除</div>
            </div>
        </div>

        <div class="bd-top-line">
            <div class="flex-left">
                <i :class="checkStatus?'check active':'check'" @click="allChecked"><i class="el-icon-check"></i></i>
                <div class="input-group">
                    <input type="text" class="form-control js_name" placeholder="供应商名称">
                    <a class="search-batch"><i class="el-icon-search"></i></a>
                    <a class="arrow" @click="showAllSearch"><i :class="allSearchStatus?'el-icon-arrow-up':'el-icon-arrow-down'"></i></a>
                </div>
                <div class="customColumn-btn" @click="centerDialogVisible = true"><i class="el-icon-menu"></i>&nbsp;自定义列</div>
            </div>
            <!--<a href="#" class="add-btn"><em @click="showModal"><i class="el-icon-plus f-12"></i>新增采购 </em><span :class="addArrowStatus?'add-arrow active':'add-arrow'" @mouseover="addArrowAction" @mouseleave="removeArrowAction"><i class="el-icon-arrow-down f-12"></i></span></a>-->
            <div class="add-dropdown" v-show="addArrowStatus" @mouseover="addArrowAction" @mouseleave="removeArrowAction">
                <ul>
                    <li>导入客户</li>
                    <li>导出客户</li>
                    <li>导入联系记录</li>
                    <li>导出联系记录</li>
                    <li>导入联系提醒</li>
                    <li>页面编辑</li>
                </ul>
            </div>
        </div>

        <div class="search-cont" v-show="allSearchStatus">
            <search-modal></search-modal>
            <div class="j_advSearch_close" @click="closeAllSearch">收起 <i class="el-icon-arrow-up f-12"></i></div>
        </div>

        <div class="tab-cont">
            <el-table :data="tableData3" style="width: 100%" @cell-mouse-enter="showCheck" @cell-mouse-leave="hieCheck" @row-dblclick="handlecurrentRow" :default-sort = "{prop: 'SKU', order: 'descending'}">
                <el-table-column label="" width="50">
                    <template slot-scope="scope">
                        <template v-if="checkClick.indexOf(scope.row.id) !== -1">
                            <i class="check active" @click="delOne(scope.row.id)"><i class="el-icon-check"></i></i>
                        </template>
                        <template v-else>
                            <i :class="showCheckStatus === scope.row.id?'check':'hide'" @click="checkOne(scope.row.id)"><i class="el-icon-check"></i></i>
                            <span :class="showCheckStatus !== scope.row.id?'on-show':'hide'">{{scope.row.id}}</span>
                        </template>
                    </template>
                </el-table-column>
                <el-table-column prop="SKU" label="SKU" sortable width="180">
                </el-table-column>
                <el-table-column prop="name" label="商品名称" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="sendWarehouse" label="默认供应商" width="130" sortable show-overflow-tooltip>
                	<template slot-scope="scope">
                        <el-input v-model="count" placeholder="请输入内容" class="text-style"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="store" label="单价（CNY）" width="130" sortable show-overflow-tooltip>
                	<template slot-scope="scope">
                        <el-input v-model="count" placeholder="请输入内容" class="text-style"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="onWayStore" label="结算方式" width="130" sortable show-overflow-tooltip>
                	<template slot-scope="scope">
                        <el-input v-model="count" placeholder="请输入内容" class="text-style"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="purchase" width="180" label="默认供应商审核状态" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="status" label="商品状态" width="100" sortable show-overflow-tooltip>
                </el-table-column>
            </el-table>

            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-sizes="[10, 20, 30, 50]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="100">
            </el-pagination>
        </div>

        <custom-column :centerDialogVisible="centerDialogVisible" @close="close"></custom-column>
        <modal-dialog :showloading="showloading" @getValue="getValue" @closeModal="closeModal"></modal-dialog>
        <scroll-wrapper :scrollwrapperStatus="scrollwrapperStatus" @handleClose="handleClose" :detailType='detailType'></scroll-wrapper>
    </div>
</template>
<script>
import modalDialog from '@/components/base/modalDialog'
import scrollWrapper from '@/components/base/scrollWrapper'
import searchModal from '@/components/d/searchModal'
import customColumn from '@/components/base/customColumn'
export default {
    components: {
        modalDialog,
        searchModal,
        scrollWrapper,
        customColumn
    },
    data() {
        return {
            tableData3: [
                {
                    id: '1',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '2',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '3',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '4',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                }
            ],
            listQuery: {
                type: '',
                title: ''
            },
            currentPage4: 4,
            count: '',
            showCheckStatus: '', //鼠标经过表格复选框状态，如等于数据id即显示复选框，否则显示id
            checkStatus: false, //全选勾选框状态
            checkClick: [], //勾选数据id集合
            scrollwrapperStatus: false, //弹出层显示状态
            openStatus: '', //打开弹出层类型
            total: 100, //分页总条数
            allSearchStatus: false, //所有筛选条件
            addArrowStatus: false, //添加按钮箭头状态
            searchLine: 1,
            showloading: false, //对话框显示
            detailType:'defaultSupplierDetail',  //打开详情类型
            centerDialogVisible: false
        }
    },
    computed: {
        getCheckClickLen() {
            return this.checkClick.length !== 0
        }
    },
    created() {},
    mounted() {},
    methods: {
        handleSizeChange(val) {
            console.log(`每页 ${val} 条`)
        },
        handleCurrentChange(val) {
            console.log(`当前页: ${val}`)
        },
        showCheck(row) {
            this.showCheckStatus = row.id
        },
        hieCheck() {
            this.showCheckStatus = ''
        },
        allChecked() {
            if (!this.checkStatus) {
                this.tableData3.forEach((a, index) => {
                    this.checkClick.push(a.id)
                })
            } else {
                this.checkClick = []
            }
            this.checkStatus = !this.checkStatus
        },
        checkOne(id) {
            if (this.checkClick.indexOf(id) === -1) {
                this.checkClick.push(id)
            }
            if (this.tableData3.length === this.checkClick.length) {
                this.checkStatus = true
            }
        },
        delOne(id) {
            this.checkClick.forEach((a, index) => {
                if (a === id) {
                    this.checkClick.splice(index, 1)
                }
            })
            if (this.tableData3.length !== this.checkClick.length) {
                this.checkStatus = false
            }
        },
        handlecurrentRow(val) {
            this.openStatus = 'detail'
            if(!this.scrollwrapperStatus){
            	this.scrollwrapperStatus = true
            }
        },
        handleClose() {
            this.scrollwrapperStatus = false
        },
        handleSelectionChange(val) {
            this.multipleSelection = val
            console.log(val)
            if (val.length > 0) {
                this.ctrListStatus = true
            } else {
                this.ctrListStatus = false
            }
        },
        indexMethod(index) {
            return index + 1
        },
        showAllSearch() {
            this.allSearchStatus = !this.allSearchStatus
        },
        closeAllSearch() {
            this.allSearchStatus = false
        },
        addArrowAction() {
            this.addArrowStatus = true
        },
        removeArrowAction() {
            this.addArrowStatus = false
        },
        showModal() {
            this.showloading = true
        },
        getValue(sku) {
            this.time = setTimeout(() => {
		      	this.openStatus = 'detail'
				this.scrollwrapperStatus = true
		    }, 300)
        },
        closeModal(status) {
            this.showloading = false
        },
        close() {
            this.centerDialogVisible = false
        }
    },
    destroyed() {}
}
</script>
<style>
.bd-top-line {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.flex-left {
    display: flex;
    align-items: center;
    flex: 1;
}
.check {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #999;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.check i {
    display: none;
}
.check.active i {
    display: inline-block;
}
.form-control {
    vertical-align: middle;
    height: 20px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background: transparent;
    border: none;
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
}
.input-group {
    width: 180px;
    height: 28px;
    position: relative;
    display: flex;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 10px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.search-batch {
    display: inline-block;
    width: 26px;
    height: 28px;
    line-height: 26px;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
}
.arrow {
    width: 36px;
    height: 28px;
    display: inline-block;
    border-left: 1px solid #ddd;
    text-align: center;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
}
.buy-btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn {
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn em {
    display: inline-block;
    padding-left: 20px;
    font-style: normal;
}
.add-btn span {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 1px solid #50ad50;
    margin-left: 5px;
}
.tab-cont {
    margin-top: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}
.el-pagination {
    margin: 15px 20px;
}
.has-gutter tr {
    background-color: #f5f5f5 !important;
    color: #999999;
}
.el-table th {
    background: #f5f5f5 !important;
    height: 45px;
    padding: 10px 0;
}
.el-table td {
    height: 40px;
    padding: 0;
}
.el-table th.is-leaf {
    background: #f5f5f5;
}
.el-table .cell {
    display: flex;
    align-items: center;
}
.hide {
    display: none;
}
.on-show {
    display: inline-block;
}
.el-input__inner {
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
}
/*新增箭头*/
.add-arrow i {
    transition: all 0.15s linear;
}
.add-arrow.active i {
    transform: rotate(-90deg);
}
.add-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    width: 125px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: #ffffff;
    z-index: 1000;
    padding: 5px 0;
}
.add-dropdown li {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
}
.add-dropdown li:hover {
    background: #53b6eb;
    color: #ffffff;
}
.el-input__inner {
    border: 1px solid #ffffff;
    outline: none;
}
.sch-select {
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: inherit;
    vertical-align: middle;
    padding: 5px 10px;
    box-sizing: content-box;
}
.form-control.sch-select{
	border: 1px solid #ddd;
}
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.list-item .form-control{
	border-radius: 3px;
	border: 1px solid #ddd;
}
.search-del {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 16px;
    color: #666;
    border: 1px solid #cccccc;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    cursor: pointer;
}
.search-del i {
    font-weight: 900;
}
.search-del:hover {
    border: 1px solid #2dc3e8;
    color: #2dc3e8;
}
.ml10 {
    margin-left: 10px;
}
.add-search-box {
    line-height: 30px;
}
.add-search-box a {
    text-decoration: none;
    color: #108ee9;
    font-size: 14px;
}
/* 批量操作浮动框 */
.batch-box {
    position: fixed;
    top: 50px;
    left: 196px;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
    border-color: #ddd;
    min-width: 840px;
    z-index: 100;
}
.batch-func {
    display: flex;
    align-items: center;
}
.batch-btn {
    padding: 5px 10px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.batch-btn:hover {
    background: #e6e6e6;
    border-color: #adadad;
}
.customColumn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}
.customColumn-btn:hover {
    background: #fff;
    border-color: #ccc;
    cursor: pointer;
}
</style>
