<template>
	<div class="detail-cont">
		<div class="add-tiel">
			<div class="win-avatar">
				<a href="#"><img src="../../assets/images/avatar.png"></a>
			</div>
			<div class="detail-header-ample">
				<div class="detail-top-title">供应商详情</div>
				<ul class="detail-top-list">
					<li :class="tabIndex==index?'cur':''" v-for="(item,index) in topMenuList" @click="showTab(index)" :key="index">
						<a href="#">{{item}}</a>
					</li>
				</ul>
			</div>
			<ul class="wrap-ctr">
				<li>
					<i class="el-icon-setting"></i> 操作
					<ul class="drop-list">
						<li><i class="el-icon-delete"></i> 删除</li>
						<li><i class="el-icon-delete"></i> 提醒</li>
						<li><i class="el-icon-delete"></i> 催办</li>
						<li><i class="el-icon-delete"></i> 事项转发</li>
					</ul>
				</li>
			</ul>
			<div class="detail-close" @click="handleClose"><i class="el-dialog__close el-icon el-icon-close"></i></div>
		</div>
		<div class="scrollwrapper-content">
			<template v-if="tabIndex == 0">
				<div class="order-info">
					<dl>
						<dt>供应商名称</dt>
						<dd>Ni有限公司</dd>
					</dl>
					<dl>
						<dt>供应商编号</dt>
						<dd>100001</dd>
					</dl>
					<dl>
						<dt>营业执照号</dt>
						<dd>0011220001</dd>
					</dl>
					<dl>
						<dt>公司法人</dt>
						<dd>李生</dd>
					</dl>
					<dl>
						<dt>是否禁用</dt>
						<dd>
							<i>是</i>
							<el-switch v-model="banStatus" disabled>
							</el-switch>
							<i>否</i>
						</dd>
					</dl>
				</div>

				<!--<div class="count-info">
                    <dl>
                        <dt>总数量</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>结算方式</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>货款金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>已付金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>未付金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>邮资</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>税率</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>审核备注</dt>
                        <dd>100</dd>
                    </dl>
                </div>-->
				<div class="detail-block-tbs">
					<div class="detail-tab">
						<ul>
							<li :class="tabChangeStatus==0?'active':''" @click="tabChange(0)">联系记录</li>
							<li :class="tabChangeStatus==1?'active':''" @click="tabChange(1)">查阅情况</li>
							<li :class="tabChangeStatus==2?'active':''" @click="tabChange(2)">操作日志</li>
						</ul>
					</div>
					<div class="comment" v-show="tabChangeStatus == 0">
						<div class="comment-post">
							<div class="comment-avatar"><img src="../../assets/images/avatar.png"></div>
							<div class="comment-cont">
								<!--<textarea placeholder="说点什么"></textarea>-->
								<div class="comment-inputbox" contenteditable="true" placeholder="说点什么"></div>
								<div class="comment-option">
									<a type="button" class="btn-info a-submit">发表</a>
								</div>
							</div>
						</div>
						<div class="comment-item" v-for="(item, index) in replayList" :key="index" @mouseover="showReplay(item)">
							<div class="comment-avatar"><img :src="item.avatar"></div>
							<div class="comment-box">
								<div class="comment-name">{{item.uname}}</div>
								<div class="comment-body">{{item.content}}</div>
								<div class="comment-fot">
									<div class="comment-date">{{item.time}}</div>
									<div class="comment-ctr" v-show="replayShowStatus === item.id">
										<a href="#" class="replay" @click="doRpaly(item)"><i class="el-icon-edit-outline"></i>回复</a>
									</div>
								</div>
								<div class="replay-cont" v-show="replayBoxShow === item.id">
									<div class="replay-to">回复@{{item.uname}}:</div>
									<textarea class="replay-textbox"></textarea>
									<div class="comment-option">
										<a type="button" class="btn-replay" @click="cancelReplay">取消</a>
										<a type="button" class="btn-replay">回复</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="read-container" v-show="tabChangeStatus == 1">
						<div class="read-item">
							<a href="#">zouxiaobin</a>
							<span>已查阅</span>
							<em>2018-10-26 17:54:22</em>
						</div>
						<div class="read-item">
							<a href="#">Ben</a>
							<span>已查阅</span>
							<em>2018-10-26 17:54:22</em>
						</div>
						<div class="read-item">
							<a href="#">Ben</a>
							<span>已查阅</span>
							<em>2018-10-26 17:54:22</em>
						</div>
					</div>
					<div class="read-container" v-show="tabChangeStatus == 2">
						<div class="read-item">
							<a href="#">zouxiaobin</a>
							<span>查看了采购详情</span>
							<em>2018-10-26 17:54:22</em>
						</div>
						<div class="read-item">
							<a href="#">Ben</a>
							<span>新增了采购订单</span>
							<em>2018-10-26 17:54:22</em>
						</div>
						<div class="read-item">
							<a href="#">Ben</a>
							<span>驳回了采购订单</span>
							<em>2018-10-26 17:54:22</em>
						</div>
					</div>
				</div>
			</template>
			<template v-if="tabIndex == 1">
				<div class="count-info">
					<dl>
						<dt>联系人</dt>
						<dd>邹先生</dd>
					</dl>
					<dl>
						<dt>座机电话</dt>
						<dd>0755-12345678</dd>
					</dl>
					<dl>
						<dt>手机</dt>
						<dd>13512345678</dd>
					</dl>
					<dl>
						<dt>QQ</dt>
						<dd>001</dd>
					</dl>
					<dl>
						<dt>传真号</dt>
						<dd>0755-1223456</dd>
					</dl>
					<dl>
						<dt>阿里旺旺</dt>
						<dd>02012</dd>
					</dl>
					<dl>
						<dt>国家</dt>
						<dd>中国</dd>
					</dl>
					<dl>
						<dt>省份</dt>
						<dd>广东</dd>
					</dl>
					<dl>
						<dt>市</dt>
						<dd>深圳</dd>
					</dl>
					<dl>
						<dt>区</dt>
						<dd>南山</dd>
					</dl>
					<dl style="width: 100%;">
						<dt>详细地址</dt>
						<dd>
							三航科技大厦
						</dd>
					</dl>
					<dl style="width: 100%;">
						<dt>供应商网址</dt>
						<dd>
							http://www.xxx.com
						</dd>
					</dl>
				</div>
			</template>
			<template v-if="tabIndex == 2">
				<div class="count-info">
					<dl>
						<dt>开户银行</dt>
						<dd>招商银行</dd>
					</dl>
					<dl>
						<dt>账号</dt>
						<dd>6225 **** **** 1234</dd>
					</dl>
					<dl>
						<dt>户名</dt>
						<dd>
							张三
							<i>设为默认</i>
							<el-switch v-model="accountDeft">
							</el-switch>
						</dd>
					</dl>
					<dl>
						<dt>支付宝号</dt>
						<dd>
							13512345678
							<i>设为默认</i>
							<el-switch v-model="alipayDeft">
							</el-switch>
						</dd>
					</dl>
					<dl>
						<dt>货币类型</dt>
						<dd>
							<select class="select-form-control">
								<option>请选择</option>
								<option>CNY</option>
								<option>THB</option>
							</select>
						</dd>
					</dl>
					<dl>
						<dt>结算方式</dt>
						<dd>
							<select class="select-form-control">
								<option>请选择</option>
								<option>账期</option>
								<option>预付</option>
							</select>
						</dd>
					</dl>
					<dl>
						<dt>付款方式</dt>
						<dd>
							<select class="select-form-control">
								<option>请选择</option>
								<option>CNY</option>
								<option>THB</option>
							</select>
						</dd>
					</dl>
					<dl>
						<dt>税率</dt>
						<dd>10%</dd>
					</dl>
					<dl>
						<dt>返点比例</dt>
						<dd>10%</dd>
					</dl>

				</div>
			</template>
			<template v-if="tabIndex == 3">
				<div class="zz-pic-list">
					<div class="item"><img src="../../assets/images/avatar.png"></div>
					<div class="add">
						<i class="el-icon-plus"></i>
						<span>上传附件</span>
					</div>
				</div>
			</template>
			<template v-if="tabIndex == 4">
				<template v-if="tableData3.length == 0">
					<div class="no-data">
						<img src="../../assets/images/inbox.png">
						<p>还没有SKU，您可点击“新增SKU”来添加</p>
						<a class="btn-success" @click="showModal"><i class="el-icon-plus"></i>新增SKU</a>
					</div>
				</template>
				<template v-else>
					<div class="add-btn-box">
						<a type="button" class="btn-info a-submit green" @click="showModal">新增SKU</a>
					</div>
					<div class="order-detail-layer">
						<el-table ref="multipleTable" border :data="tableData3" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
							<el-table-column label="序号" width="50" type="index" :index="indexMethod">
							</el-table-column>
							<el-table-column prop="SKU" label="SKU" width="120">
							</el-table-column>
							<el-table-column prop="EANNo" label="EAN码" show-overflow-tooltip>
							</el-table-column>
							<el-table-column prop="name" label="商品名称" width="200" show-overflow-tooltip>
							</el-table-column>
							<el-table-column prop="className" label="品类" show-overflow-tooltip>
							</el-table-column>
							<el-table-column prop="status" label="商品状态" show-overflow-tooltip>
							</el-table-column>
						</el-table>
					</div>
				</template>
			</template>
		</div>
	</div>
</template>

<script>
	export default {
		props: {
			showloading: this.showloading
		},
		data() {
			return {
				replayShowStatus: '', //回复按钮显示状态
				replayBoxShow: '', //回复输入框
				tabIndex: '0', //弹窗页签
				tabChangeStatus: '0', //tab状态码
				topMenuList: ["基本信息", "联系方式", "账户信息", "资质附件", "SKU列表"],
				replayList: [{
						id: '1',
						avatar: require('@/assets/images/avatar.png'),
						uname: 'Ben',
						content: '欢迎使用本系统',
						time: '2018-10-26 11:23'
					},
					{
						id: '2',
						avatar: require('@/assets/images/avatar.png'),
						uname: 'Ben1',
						content: '欢迎使用本系统',
						time: '2018-10-26 12:23'
					},
					{
						id: '3',
						avatar: require('@/assets/images/avatar.png'),
						uname: 'Ben2',
						content: '欢迎使用本系统',
						time: '2018-10-26 14:23'
					}
				],
				count: '',
				banStatus: true, //是否禁用
				accountDeft: false, //账户默认值
				alipayDeft: false, //支付宝默认值
			}
		},
		computed: {
			tableData3() {
				return this.$store.state.skuStore.skuList
			},
		},
		created() {},
		methods: {
			tabChange(item) {
				this.tabChangeStatus = item
			},
			handleClose() {
				this.$emit('handleClose')
			},
			cancelReplay() {
				this.replayBoxShow = ''
			},
			showTab(item) {
				this.tabIndex = item
			},
			showReplay(item) {
				this.replayShowStatus = item.id
			},
			doRpaly(item) {
				this.replayBoxShow = item.id
			},
			handleSelectionChange(val) {
				this.multipleSelection = val
				console.log(val)
				if(val.length > 0) {
					this.ctrListStatus = true
				} else {
					this.ctrListStatus = false
				}
			},
			indexMethod(index) {
				return index + 1
			},
			showModal() {
				this.$emit('showModal')
			},
			getStore() {
				console.log(this.tableData3)
				console.log(this.$store.state.skuStore.skuList)
			}
		}
	}
</script>

<style scoped>
	.detail-cont {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	/*弹出窗*/
	
	.win-avatar {
		margin-right: 12px;
		margin-left: 12px;
		border-radius: 50%;
		height: 36px;
		width: 36px;
		background-repeat: no-repeat;
		display: inline-block;
		vertical-align: middle;
		overflow: hidden;
	}
	
	.win-avatar img {
		width: 100%;
		height: 100%;
	}
	
	.detail-header-ample {
		position: relative;
		flex: 1;
		height: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	
	.detail-close {
		width: 45px;
		height: 50px;
		border-left: 1px solid #ddd;
		text-align: center;
		line-height: 50px;
		font-size: 20px;
		color: #454545;
	}
	
	.detail-top-title {
		font-size: 14px;
		color: #454545;
		flex: 1;
		display: flex;
		align-items: center;
		font-weight: bold;
	}
	
	.detail-top-list {
		display: flex;
		flex: 1;
	}
	
	.detail-top-list li {
		margin-right: 20px;
		font-size: 12px;
		display: flex;
		align-items: center;
		border-bottom: 2px solid #f5f5f5;
	}
	
	.detail-top-list li a {
		color: #666666;
		text-decoration: none;
	}
	
	.detail-top-list li.cur,
	.detail-top-list li:hover {
		border-bottom: 2px solid #2dc3e8;
		font-weight: bold;
	}
	
	.detail-top-list li.cur a,
	.detail-top-list li:hover a {
		color: #2dc3e8;
	}
	
	.add-tiel {
		background: #f5f5f5;
		min-height: 51px;
		border-bottom: 1px solid #ddd;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	
	.add-tiel span {
		margin: 7px 0 0 20px;
		font-weight: bold;
		color: #454545;
		float: left;
		line-height: 36px;
		font-size: 15px;
	}
	
	.el-dialog__headerbtn {
		font-size: 24px;
		top: 12px;
	}
	
	.win-btn-box {
		margin: 15px;
	}
	
	.p10 {
		padding: 10px;
	}
	
	.p20 {
		padding: 20px;
	}
	
	.all-search {
		background: #fff;
		border-radius: 3px;
		margin-bottom: 20px;
		max-height: 0;
		-webkit-transition: max-height 0.5s;
		transition: max-height 0.5s;
	}
	
	.open {
		max-height: 3000px;
		border: 1px solid #eaeaea;
	}
	
	.order-info,
	.count-info {
		margin: 15px 15px 0 !important;
		background: #ffffff;
		border-radius: 3px;
		border: 1px solid #e5e5e5;
		display: flex;
		flex-flow: wrap;
		overflow: hidden;
	}
	
	.order-info dl,
	.count-info dl {
		padding: 6px 17px;
		line-height: 30px;
		border-bottom: 1px solid #ececec;
		width: 50%;
		margin: 0;
		font-size: 12px;
		display: flex;
		box-sizing: border-box;
		color: #666666;
		margin-bottom: -1px;
	}
	
	.order-info dl dt {
		width: 90px;
		font-weight: bold;
	}
	
	.order-info dl dd {
		font-size: 14px;
	}
	/*.order-info span {
    display: inline-block;
    width: 33.33%;
    color: #666;
    line-height: 40px;
    font-size: 13px;
}*/
	
	.order-info dl dd i {
		font-size: 14px;
		font-style: normal;
	}
	
	.count-info dl dt {
		width: 100px;
		text-align: right;
		color: #999;
		font-weight: bold;
	}
	
	.count-info dl dd {
		margin-left: 10px;
		color: #999;
		font-size: 14px;
	}
	
	.count-info dl dd i {
		font-size: 12px;
		font-style: normal;
		margin-left: 30px;
	}
	
	.order-detail {
		background: #ffffff;
		border-radius: 3px;
		padding: 10px;
		border: 1px solid #e5e5e5;
		margin: 0 15px;
	}
	
	.detail-title {
		height: 40px;
		line-height: 40px;
	}
	
	.detail-title span {
		font-size: 14px;
		border-left: 3px solid #23b7e5;
		padding-left: 10px;
		color: #666666;
	}
	
	.count-line {
		font-size: 14px;
		line-height: 40px;
		color: #666;
		display: flex;
		flex-flow: wrap;
	}
	
	.count-line span {
		display: inline-block;
		width: 20%;
		font-size: 13px;
	}
	
	.mt20 {
		margin-top: 20px;
	}
	
	.mb10 {
		margin-bottom: 10px;
	}
	
	.open-win-btn {
		border-top: 1px solid #dddddd;
		margin-top: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	.el-button--primary {
		background-color: #23b7e5;
		border-color: #18aedb;
		padding: 8px 20px;
	}
	
	.el-pagination.is-background .el-pager li:not(.disabled).active {
		background-color: #23b7e5;
	}
	
	.detail-block-tbs {
		border-radius: 3px;
		border: 1px solid #e5e5e5;
		background-color: #fff;
		margin: 15px 15px 13px;
	}
	
	.detail-tab {
		height: 50px;
		border-bottom: 1px solid #eaeaea;
		box-sizing: border-box;
	}
	
	.detail-tab ul li {
		float: left;
		text-align: center;
		margin: 0 15px;
		padding: 0 10px;
		font-size: 14px;
		line-height: 45px;
		color: #777;
		border-bottom: 2px solid #fff;
		border-top: 2px solid #fff;
		cursor: pointer;
	}
	
	.detail-tab ul li:hover {
		color: #444;
		font-weight: bold;
	}
	
	.detail-tab ul li.active {
		color: #444;
		font-weight: bold;
		border-bottom: 2px solid #2dc3e8;
	}
	
	.comment-post {
		display: flex;
		padding: 15px;
		border-bottom: 1px dashed #ddd;
	}
	
	.comment-avatar {
		width: 38px;
		height: 38px;
		border-radius: 50%;
		overflow: hidden;
	}
	
	.comment-avatar img {
		width: 100%;
	}
	
	.comment-cont {
		flex: 1;
		margin-left: 15px;
	}
	
	.comment-cont .comment-inputbox {
		border-radius: 3px;
		vertical-align: middle;
		padding: 4px 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ddd;
		-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		width: 100%;
		min-height: 60px;
		box-sizing: border-box;
		resize: none;
	}
	.comment-cont .comment-inputbox{
		position: relative;
	}
	.comment-cont .comment-inputbox:empty::before{
		color:#A6A6A6;
		content:attr(placeholder);
	}
	
	.comment-option {
		display: flex;
		justify-content: flex-end;
		padding: 10px 0 0 0;
	}
	
	.a-submit {
		display: inline-block;
		padding: 5px 20px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		color: #fff;
		background-color: #23b7e5;
		border-color: #18aedb;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border-radius: 4px;
		font-size: 12px;
		border-radius: 3px;
	}
	
	.a-submit.green {
		background-color: #5cb85c;
	}
	
	.a-submit:hover {
		background-color: #1f9fd1;
	}
	
	.a-submit.green:hover {
		background-color: #50a050;
	}
	
	.comment-item {
		display: flex;
		padding: 15px;
		border-bottom: 1px dashed #ddd;
	}
	
	.comment-item:hover {
		background: #f7fdff;
	}
	
	.comment-item:last-child {
		border: none;
	}
	
	.comment-box {
		flex: 1;
		margin-left: 15px;
	}
	
	.comment-box .comment-name {
		text-decoration: none;
		color: #108ee9;
	}
	
	.comment-box .comment-body {
		word-wrap: break-word;
		word-break: break-all;
		line-height: 24px;
		font-size: 14px;
	}
	
	.comment-box .comment-fot {
		margin-top: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 22px;
	}
	
	.comment-box .comment-date {
		color: #bbb;
		font-size: 12px;
	}
	
	.comment-box .replay {
		display: inline-block;
		color: #8899a6;
		text-decoration: none;
		font-size: 12px;
	}
	
	.comment-box .replay i {
		font-size: 14px;
		margin-right: 5px;
	}
	
	.replay-cont {
		padding-top: 5px;
	}
	
	.replay-to {
		font-size: 12px;
		color: #bbb;
	}
	
	.replay-textbox {
		border-radius: 3px;
		vertical-align: middle;
		height: 30px;
		padding: 4px 10px;
		font-size: 14px;
		line-height: 20px;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ddd;
		-webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
		-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		width: 100%;
		height: 45px;
		resize: none;
		box-sizing: border-box;
		margin-top: 5px;
	}
	
	.btn-replay {
		display: inline-block;
		padding: 5px 10px;
		margin-bottom: 0;
		font-size: 12px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		color: #666;
		background-color: #fff;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid #ddd;
		border-radius: 3px;
		height: 30px;
		box-sizing: border-box;
		margin-left: 5px;
	}
	
	.btn-replay:hover {
		background-color: #e6e6e6;
	}
	
	.order-detail-layer {
		padding: 0 15px;
	}
	
	.read-container {
		padding: 0 15px;
	}
	
	.read-item {
		display: flex;
		height: 35px;
		align-items: center;
		font-size: 14px;
		border-bottom: 1px dotted #ddd;
	}
	
	.read-item:last-child {
		border: none;
	}
	
	.read-item a {
		color: #108ee9;
		display: inline-block;
		width: 100px;
		text-decoration: none;
	}
	
	.read-item span {
		color: #999;
		display: inline-block;
		width: 130px;
	}
	
	.read-item em {
		color: #999;
		display: inline-block;
		flex: 1;
		font-style: normal;
	}
	
	.add-btn-box {
		text-align: right;
		padding-top: 10px;
		padding-right: 15px;
		padding-bottom: 10px;
	}
	
	.select-form-control {
		border-radius: 3px;
		vertical-align: middle;
		height: 30px;
		padding: 4px 10px;
		font-size: 14px;
		line-height: 20px;
		width: 200px;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ddd;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		box-sizing: border-box;
	}
	
	.zz-pic-list {
		padding: 20px;
		display: flex;
		flex-flow: wrap;
	}
	
	.zz-pic-list .item {
		width: 160px;
		height: 160px;
		border: 1px solid #e7e7e7;
		-webkit-box-shadow: 0 2px 8px #ddd;
		-moz-box-shadow: 0 2px 8px #ddd;
		box-shadow: 0 2px 8px #ddd;
		margin-right: 20px;
		cursor: pointer;
	}
	
	.zz-pic-list .item img {
		width: 100%;
		height: 100%;
	}
	
	.zz-pic-list .add {
		width: 160px;
		height: 160px;
		border: 1px solid #e7e7e7;
		-webkit-box-shadow: 0 2px 8px #ddd;
		-moz-box-shadow: 0 2px 8px #ddd;
		box-shadow: 0 2px 8px #ddd;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.zz-pic-list .add i {
		font-size: 40px;
		color: #999;
		font-weight: bold;
		clear: both;
	}
	
	.zz-pic-list .add:hover {
		color: #000;
	}
	
	.zz-pic-list .add span {
		font-size: 14px;
		color: #999;
		padding-top: 15px;
	}
	
	.no-data {
		text-align: center;
		margin-top: 50px;
	}
	
	.no-data p {
		color: #666;
		margin-bottom: 20px;
		font-size: 16px;
	}
	
	.btn-success {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 14px;
		font-weight: normal;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		color: #666;
		background-color: #fff;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 1px solid #ddd;
		border-radius: 4px;
		color: #fff;
		background-color: #5cb85c;
		border-color: #50ad50;
		padding: 5px 10px;
		font-size: 12px;
		border-radius: 3px;
		height: 30px;
		box-sizing: border-box;
	}
	.wrap-ctr{
		height: 50px;
	}
	.wrap-ctr li{
		padding: 0 12px;
		line-height: 50px;
		color: #454545;
		font-size: 14px;
		cursor: pointer;
	}
	.wrap-ctr li:hover{
		background: #fff;
	    border-left: 1px solid #ddd;
	}
	.wrap-ctr li:hover .drop-list{
		display: block;
	}
	
	.wrap-ctr li .drop-list{
		position: absolute;
		background: #FFFFFF;
		width: 120px;
		padding: 15px 0 5px;
		right: 46px;
		top: 51px;
	    text-align: left;
	    background-color: #fff;
	    -webkit-background-clip: padding-box;
	    background-clip: padding-box;
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-sizing: border-box;
	    display: none;
	    z-index: 1005;
	}
	.wrap-ctr li .drop-list li{
		color: #333333;
		font-size: 14px;
		line-height: 30px;
		padding: 0 15px;
	}
	.wrap-ctr li .drop-list li:hover{
		color: #FFFFFF;
		background: #53b6eb;
	}
	.wrap-ctr li:hover .drop-list li{
		border: none;
	}
	.wrap-ctr li .drop-list li i{
		color: #a4a4a4;
	}
	.wrap-ctr li .drop-list li:hover i{
		color: #FFFFFF;
	}
</style>