<template>
	<div>
		<div class="add-tiel">
            <div class="win-avatar">
                <a href="#"><img src="../../assets/images/avatar.png"></a>
            </div>
            <div class="detail-header-ample">
                <div class="detail-top-title">采购</div>
                <ul class="detail-top-list">
                    <li :class="tabIndex==0?'cur':''" @click="showTab('0')"><a href="#">基本信息</a></li>
                    <li :class="tabIndex==1?'cur':''" @click="showTab('1')"><a href="#">采购详情</a></li>
                </ul>
            </div>
            <div class="detail-close" @click="handleClose"><i class="el-dialog__close el-icon el-icon-close"></i></div>
        </div>
        <div class="scrollwrapper-content">
            <template v-if="tabIndex == 0">
                <div class="order-info">
                    <dl>
                        <dt>采购单号</dt>
                        <dd>18090100001</dd>
                    </dl>
                    <dl>
                        <dt>采购单状态</dt>
                        <dd>草稿</dd>
                    </dl>
                    <dl>
                        <dt>供应商</dt>
                        <dd>Ni有限公司</dd>
                    </dl>
                    <dl>
                        <dt>收货仓库</dt>
                        <dd>default</dd>
                    </dl>
                    <dl>
                        <dt>预计到货时间</dt>
                        <dd>2018-08-08 09:00</dd>
                    </dl>
                </div>
                <div class="count-info">
                    <dl>
                        <dt>总数量</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>结算方式</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>货款金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>已付金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>未付金额</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>邮资</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>税率</dt>
                        <dd>100</dd>
                    </dl>
                    <dl>
                        <dt>审核备注</dt>
                        <dd>100</dd>
                    </dl>
                </div>
                <div class="detail-block-tbs">
                    <div class="detail-tab">
                        <ul>
                            <li :class="tabChangeStatus==0?'active':''" @click="tabChange(0)">联系记录</li>
                            <li :class="tabChangeStatus==1?'active':''" @click="tabChange(1)">查阅情况</li>
                            <li :class="tabChangeStatus==2?'active':''" @click="tabChange(2)">操作日志</li>
                        </ul>
                    </div>
                    <div class="comment" v-show="tabChangeStatus == 0">
                        <div class="comment-post">
                            <div class="comment-avatar"><img src="../../assets/images/avatar.png"></div>
                            <div class="comment-cont">
                                <textarea placeholder="说点什么"></textarea>
                                <div class="comment-option">
                                    <a type="button" class="btn-info a-submit">发表</a>
                                </div>
                            </div>
                        </div>
                        <div class="comment-item" v-for="(item, index) in replayList" :key="index" @mouseover="showReplay(item)">
                            <div class="comment-avatar"><img :src="item.avatar"></div>
                            <div class="comment-box">
                                <div class="comment-name">{{item.uname}}</div>
                                <div class="comment-body">{{item.content}}</div>
                                <div class="comment-fot">
                                    <div class="comment-date">{{item.time}}</div>
                                    <div class="comment-ctr" v-show="replayShowStatus === item.id"><a href="#" class="replay" @click="doRpaly(item)"><i class="el-icon-edit-outline"></i>回复</a></div>
                                </div>
                                <div class="replay-cont" v-show="replayBoxShow === item.id">
                                    <div class="replay-to">回复@{{item.uname}}:</div>
                                    <textarea class="replay-textbox"></textarea>
                                    <div class="comment-option">
                                        <a type="button" class="btn-replay" @click="cancelReplay">取消</a>
                                        <a type="button" class="btn-replay">回复</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="read-container" v-show="tabChangeStatus == 1">
                        <div class="read-item">
                            <a href="#">zouxiaobin</a>
                            <span>已查阅</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>已查阅</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>已查阅</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                    </div>
                    <div class="read-container" v-show="tabChangeStatus == 2">
                        <div class="read-item">
                            <a href="#">zouxiaobin</a>
                            <span>查看了采购详情</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>新增了采购订单</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                        <div class="read-item">
                            <a href="#">Ben</a>
                            <span>驳回了采购订单</span>
                            <em>2018-10-26 17:54:22</em>
                        </div>
                    </div>
                </div>
            </template>
            <template v-if="tabIndex == 1">
                <div class="order-detail-layer">
                    <div class="add-btn-box"></div>
                    <el-table ref="multipleTable" border :data="tableData3" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                        <el-table-column type="selection" width="55">
                        </el-table-column>
                        <el-table-column label="序号" width="120" type="index" :index="indexMethod">
                        </el-table-column>
                        <el-table-column prop="SKU" label="SKU" width="120">
                        </el-table-column>
                        <el-table-column prop="name" label="商品名称" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="param" label="参数" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="sendWarehouse" label="发货仓库" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="store" label="库存数量" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="onWayStore" label="在途库存" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="purchase" label="采购数（审核中）" width="150" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="sell" width="150" label="30天销售数量" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="status" label="商品状态" show-overflow-tooltip>
                        </el-table-column>
                        <el-table-column prop="address" label="采购数量" show-overflow-tooltip>
                            <template slot-scope="scope">
                                <el-input v-model="count" placeholder="请输入内容" class="text-style"></el-input>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </template>
        </div>
	</div>
</template>

<script>
export default {
	props: {
		showloading: this.showloading
	},
	data() {
		return {
			replayShowStatus: '', //回复按钮显示状态
	        replayBoxShow: '', //回复输入框
	        tabIndex: '0', //弹窗页签
	        tabChangeStatus: '0', //tab状态码
	        replayList: [
                {
                    id: '1',
                    avatar: require('@/assets/images/avatar.png'),
                    uname: 'Ben',
                    content: '欢迎使用本系统',
                    time: '2018-10-26 11:23'
                },
                {
                    id: '2',
                    avatar: require('@/assets/images/avatar.png'),
                    uname: 'Ben1',
                    content: '欢迎使用本系统',
                    time: '2018-10-26 12:23'
                },
                {
                    id: '3',
                    avatar: require('@/assets/images/avatar.png'),
                    uname: 'Ben2',
                    content: '欢迎使用本系统',
                    time: '2018-10-26 14:23'
                }
            ],
            tableData3: [
                {
                    id: '1',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '2',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '3',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '4',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                }
            ],
            count:''
		}
	},
	created() {},
	methods: {
        tabChange(item) {
            this.tabChangeStatus = item
        },
        handleClose(){
			this.$emit('handleClose')
		},
		cancelReplay() {
            this.replayBoxShow = ''
        },
        showTab(item) {
            this.tabIndex = item
        },
        showReplay(item) {
            this.replayShowStatus = item.id
        },
        doRpaly(item) {
            this.replayBoxShow = item.id
        },
        handleSelectionChange(val) {
            this.multipleSelection = val
            console.log(val)
            if (val.length > 0) {
                this.ctrListStatus = true
            } else {
                this.ctrListStatus = false
            }
        },
        indexMethod(index) {
            return index + 1
        },
	}
}
</script>

<style>
/*弹出窗*/
.win-avatar {
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.win-avatar img {
    width: 100%;
    height: 100%;
}
.detail-header-ample {
    position: relative;
    flex: 1;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-close {
    width: 45px;
    height: 50px;
    border-left: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #454545;
}
.detail-top-title {
    font-size: 14px;
    color: #454545;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.detail-top-list {
    display: flex;
    flex: 1;
}
.detail-top-list li {
    margin-right: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}
.detail-top-list li a {
    color: #666666;
    text-decoration: none;
}
.detail-top-list li.cur,
.detail-top-list li:hover {
    border-bottom: 2px solid #2dc3e8;
    font-weight: bold;
}
.detail-top-list li.cur a,
.detail-top-list li:hover a {
    color: #2dc3e8;
}
.add-tiel {
    background: #f5f5f5;
    min-height: 51px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-tiel span {
    margin: 7px 0 0 20px;
    font-weight: bold;
    color: #454545;
    float: left;
    line-height: 36px;
    font-size: 15px;
}
.el-dialog__headerbtn {
    font-size: 24px;
    top: 12px;
}
.win-btn-box {
    margin: 15px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.all-search {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    max-height: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.open {
    max-height: 3000px;
    border: 1px solid #eaeaea;
}
.order-info,
.count-info {
    margin: 15px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
}
.order-info dl,
.count-info dl {
    padding: 6px 17px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    width: 50%;
    margin: 0;
    font-size: 12px;
    display: flex;
    box-sizing: border-box;
    color: #666666;
    margin-bottom: -1px;
}
.order-info dl dt {
    width: 90px;
    font-weight: bold;
}
.order-info dl dd {
    font-size: 14px;
}
.order-info span {
    display: inline-block;
    width: 33.33%;
    color: #666;
    line-height: 40px;
    font-size: 13px;
}
.count-info dl dt {
    width: 100px;
    text-align: right;
    color: #999;
    font-weight: bold;
}
.count-info dl dd {
    margin-left: 10px;
    color: #999;
    font-size: 14px;
}
.order-detail {
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin: 0 15px;
}
.detail-title {
    height: 40px;
    line-height: 40px;
}
.detail-title span {
    font-size: 14px;
    border-left: 3px solid #23b7e5;
    padding-left: 10px;
    color: #666666;
}
.count-line {
    font-size: 14px;
    line-height: 40px;
    color: #666;
    display: flex;
    flex-flow: wrap;
}
.count-line span {
    display: inline-block;
    width: 20%;
    font-size: 13px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.open-win-btn {
    border-top: 1px solid #dddddd;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.el-button--primary {
    background-color: #23b7e5;
    border-color: #18aedb;
    padding: 8px 20px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #23b7e5;
}
.detail-block-tbs {
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    margin: 0 18px 13px;
}
.detail-tab {
    height: 50px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
.detail-tab ul li {
    float: left;
    text-align: center;
    margin: 0 15px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 45px;
    color: #777;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    cursor: pointer;
}
.detail-tab ul li:hover {
    color: #444;
    font-weight: bold;
}
.detail-tab ul li.active {
    color: #444;
    font-weight: bold;
    border-bottom: 2px solid #2dc3e8;
}
.comment-post {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
.comment-avatar img {
    width: 100%;
}
.comment-cont {
    flex: 1;
    margin-left: 15px;
}
.comment-cont textarea {
    border-radius: 3px;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    resize: none;
}
.comment-option {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}
.a-submit {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-color: #23b7e5;
    border-color: #18aedb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 3px;
}
.a-submit:hover {
    background-color: #1f9fd1;
}
.comment-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-item:hover {
    background: #f7fdff;
}
.comment-item:last-child {
    border: none;
}
.comment-box {
    flex: 1;
    margin-left: 15px;
}
.comment-box .comment-name {
    text-decoration: none;
    color: #108ee9;
}
.comment-box .comment-body {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 24px;
    font-size: 14px;
}
.comment-box .comment-fot {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
}
.comment-box .comment-date {
    color: #bbb;
    font-size: 12px;
}
.comment-box .replay {
    display: inline-block;
    color: #8899a6;
    text-decoration: none;
    font-size: 12px;
}
.comment-box .replay i {
    font-size: 14px;
    margin-right: 5px;
}
.replay-cont {
    padding-top: 5px;
}
.replay-to {
    font-size: 12px;
    color: #bbb;
}
.replay-textbox {
    border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    height: 45px;
    resize: none;
    box-sizing: border-box;
    margin-top: 5px;
}
.btn-replay {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #666;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 30px;
    box-sizing: border-box;
    margin-left: 5px;
}
.btn-replay:hover {
    background-color: #e6e6e6;
}
.order-detail-layer {
    padding: 20px;
}
.read-container {
    padding: 0 15px;
}
.read-item {
    display: flex;
    height: 35px;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}
.read-item:last-child {
    border: none;
}
.read-item a {
    color: #108ee9;
    display: inline-block;
    width: 100px;
    text-decoration: none;
}
.read-item span {
    color: #999;
    display: inline-block;
    width: 130px;
}
.read-item em {
    color: #999;
    display: inline-block;
    flex: 1;
    font-style: normal;
}
</style>