<template>
    <div class="app-content">
        <!-- 批量操作框 -->
        <div class="batch-box" v-show="getCheckClickLen">
            <div class="batch-func">
                <i :class="checkStatus?'check active':'check'" @click="allChecked"><i class="el-icon-check"></i></i>
                <div class="batch-btn">批量审核</div>
                <div class="batch-btn">批量删除</div>
                <!-- <div class="batch-btn">批量参与</div>
                <div class="batch-btn">取消共享</div>
                <div class="batch-btn">批量转移</div>
                <div class="batch-btn">批量删除</div> -->
            </div>
        </div>

        <!-- 搜索框 -->
        <div class="bd-top-line">
            <div class="flex-left">
                <i :class="checkStatus?'check active':'check'" @click="allChecked"><i class="el-icon-check"></i></i>
                <div class="input-group">
                    <input type="text" class="form-control js_name" placeholder="SKU">
                    <a class="search-batch"><i class="el-icon-search"></i></a>
                    <a class="arrow" @click="showAllSearch"><i :class="allSearchStatus?'el-icon-arrow-up':'el-icon-arrow-down'"></i></a>
                </div>
                <div class="customColumn-btn" @click="centerDialogVisible = true"><i class="el-icon-menu"></i>&nbsp;自定义列</div>
            </div>
            <a href="#" class="add-btn"><em @click="showModal"><i class="el-icon-plus f-12"></i>新增采购 </em><span :class="addArrowStatus?'add-arrow active':'add-arrow'" @mouseover="addArrowAction" @mouseleave="removeArrowAction"><i class="el-icon-arrow-down f-12"></i></span></a>
            <div class="add-dropdown" v-show="addArrowStatus" @mouseover="addArrowAction" @mouseleave="removeArrowAction">
                <ul>
                    <li>导入客户</li>
                    <li>导出客户</li>
                    <li>导入联系记录</li>
                    <li>导出联系记录</li>
                    <li>导入联系提醒</li>
                    <li>页面编辑</li>
                </ul>
            </div>
        </div>
        <!-- 复合搜索框 -->
        <div class="search-cont" v-show="allSearchStatus">
            <search-modal></search-modal>
            <div class="j_advSearch_close" @click="allSearchStatus = !allSearchStatus">收起 <i class="el-icon-arrow-up f-12"></i></div>
        </div>
        <!-- 列表 -->
        <div class="tab-cont">
            <el-table :data="tableData3" style="width: 100%" @cell-mouse-enter="showCheck" @cell-mouse-leave="hieCheck" @row-dblclick="handlecurrentRow" :default-sort = "{prop: 'SKU', order: 'descending'}">
                <el-table-column label="" width="50">
                    <template slot-scope="scope">
                        <template v-if="checkClick.indexOf(scope.row.id) !== -1">
                            <i class="check active" @click="delOne(scope.row.id)"><i class="el-icon-check"></i></i>
                        </template>
                        <template v-else>
                            <i :class="showCheckStatus === scope.row.id?'check':'hide'" @click="checkOne(scope.row.id)"><i class="el-icon-check"></i></i>
                            <span :class="showCheckStatus !== scope.row.id?'on-show':'hide'">{{scope.row.id}}</span>
                        </template>
                    </template>
                </el-table-column>
                <el-table-column prop="orderId" label="需求单号" sortable width="150">
                </el-table-column>
                <el-table-column prop="ReviewStatus" label="需求审核状态" width="150" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="SKU" label="SKU" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="itemName" label="商品名称" width="160" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="itemStatus" label="商品状态" width="150" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="stockInv" label="库存数量" width="150" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="purchaseRequested" label="已申请采购数" width="140" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="thirtySales" label="30天销量" sortable show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="orderSize" label="采购数量" show-overflow-tooltip>
                    <template slot-scope="scope" >
                        <el-input v-model="count" placeholder="请输入内容" class="text-style"></el-input>
                    </template>
                </el-table-column>
            </el-table>

            <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="currentPage4" :page-sizes="[10, 20, 30, 50]" :page-size="100" layout="total, sizes, prev, pager, next, jumper" :total="100">
            </el-pagination>
        </div>
        <!--自定义弹窗-->
        <custom-column :centerDialogVisible="centerDialogVisible" @close="close"></custom-column>
        <!-- 弹框 -->
        <modal-dialog :showloading="showloading" @getValue="getValue" @closeModal="closeModal"></modal-dialog>
        <scroll-wrapper :scrollwrapperStatus="scrollwrapperStatus" @handleClose="handleClose" :detailType='detailType'></scroll-wrapper>
    </div>
</template>

<style lang="scss" scoped>
.bd-top-line {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.flex-left {
    display: flex;
    align-items: center;
    flex: 1;
}
.check {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #999;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.check i {
    display: none;
}
.check.active i {
    display: inline-block;
}
.form-control {
    vertical-align: middle;
    height: 20px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background: transparent;
    border: none;
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
}
.input-group {
    width: 180px;
    height: 28px;
    position: relative;
    display: flex;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 10px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.search-batch {
    display: inline-block;
    width: 26px;
    height: 28px;
    line-height: 26px;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
}
.arrow {
    width: 36px;
    height: 28px;
    display: inline-block;
    border-left: 1px solid #ddd;
    text-align: center;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
}
.buy-btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn {
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn em {
    display: inline-block;
    padding-left: 20px;
    font-style: normal;
}
.add-btn span {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 1px solid #50ad50;
    margin-left: 5px;
}
.tab-cont {
    margin-top: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}
.el-pagination {
    margin: 15px 20px;
}
.has-gutter tr {
    background-color: #f5f5f5 !important;
    color: #999999;
}
.el-table th {
    background: #f5f5f5 !important;
    height: 45px;
    padding: 10px 0;
}
.el-table td {
    height: 40px;
    padding: 0;
}
.el-table th.is-leaf {
    background: #f5f5f5;
}
.el-table .cell {
    display: flex;
    align-items: center;
}
.hide {
    display: none;
}
.on-show {
    display: inline-block;
}
.el-input__inner {
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
}

/*弹出窗*/
.scrollwrapper {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: auto !important;
    z-index: 1000;
    background: #f9f9f9;
    border-left: 1px solid #ddd;
    width: 800px;
    box-shadow: -3px 0 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
}
.scrollwrapper-content {
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.scrollwrapper-content::-webkit-scrollbar {
    width: 10px;
}
.scrollwrapper-content::-webkit-scrollbar-track {
    /*background-color:rgba(0,0,0,.05);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.scrollwrapper-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.scrollwrapper.show {
    transform: translateX(0);
}
.win-avatar {
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.win-avatar img {
    width: 100%;
    height: 100%;
}
.detail-header-ample {
    position: relative;
    flex: 1;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-close {
    width: 45px;
    height: 50px;
    border-left: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #454545;
}
.detail-top-title {
    font-size: 14px;
    color: #454545;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.detail-top-list {
    display: flex;
    flex: 1;
}
.detail-top-list li {
    margin-right: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}
.detail-top-list li a {
    color: #666666;
    text-decoration: none;
}
.detail-top-list li.cur,
.detail-top-list li:hover {
    border-bottom: 2px solid #2dc3e8;
    font-weight: bold;
}
.detail-top-list li.cur a,
.detail-top-list li:hover a {
    color: #2dc3e8;
}
.add-tiel {
    background: #f5f5f5;
    min-height: 51px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-tiel span {
    margin: 7px 0 0 20px;
    font-weight: bold;
    color: #454545;
    float: left;
    line-height: 36px;
    font-size: 15px;
}
.el-dialog__headerbtn {
    font-size: 24px;
    top: 12px;
}
.win-btn-box {
    margin: 15px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.all-search {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    max-height: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.open {
    max-height: 3000px;
    border: 1px solid #eaeaea;
}
.order-info,
.count-info {
    margin: 15px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
}
.order-info dl,
.count-info dl {
    padding: 6px 17px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    width: 50%;
    margin: 0;
    font-size: 12px;
    display: flex;
    box-sizing: border-box;
    color: #666666;
    margin-bottom: -1px;
}
.order-info dl dt {
    width: 90px;
    font-weight: bold;
}
.order-info dl dd {
    font-size: 14px;
}
.order-info span {
    display: inline-block;
    width: 33.33%;
    color: #666;
    line-height: 40px;
    font-size: 13px;
}
.count-info dl dt {
    width: 100px;
    text-align: right;
    color: #999;
    font-weight: bold;
}
.count-info dl dd {
    margin-left: 10px;
    color: #999;
    font-size: 14px;
}
.order-detail {
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin: 0 15px;
}
.detail-title {
    height: 40px;
    line-height: 40px;
}
.detail-title span {
    font-size: 14px;
    border-left: 3px solid #23b7e5;
    padding-left: 10px;
    color: #666666;
}
.count-line {
    font-size: 14px;
    line-height: 40px;
    color: #666;
    display: flex;
    flex-flow: wrap;
}
.count-line span {
    display: inline-block;
    width: 20%;
    font-size: 13px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.open-win-btn {
    border-top: 1px solid #dddddd;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.el-button--primary {
    background-color: #23b7e5;
    border-color: #18aedb;
    padding: 8px 20px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #23b7e5;
}
.detail-block-tbs {
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    margin: 0 18px 13px;
}
.detail-tab {
    height: 50px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
.detail-tab ul li {
    float: left;
    text-align: center;
    margin: 0 15px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 45px;
    color: #777;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    cursor: pointer;
}
.detail-tab ul li:hover {
    color: #444;
    font-weight: bold;
}
.detail-tab ul li.active {
    color: #444;
    font-weight: bold;
    border-bottom: 2px solid #2dc3e8;
}
.comment-post {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
.comment-avatar img {
    width: 100%;
}
.comment-cont {
    flex: 1;
    margin-left: 15px;
}
.comment-cont textarea {
    border-radius: 3px;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    resize: none;
}
.comment-option {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}
.a-submit {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-color: #23b7e5;
    border-color: #18aedb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 3px;
}
.a-submit:hover {
    background-color: #1f9fd1;
}
.comment-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-item:hover {
    background: #f7fdff;
}
.comment-item:last-child {
    border: none;
}
.comment-box {
    flex: 1;
    margin-left: 15px;
}
.comment-box .comment-name {
    text-decoration: none;
    color: #108ee9;
}
.comment-box .comment-body {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 24px;
    font-size: 14px;
}
.comment-box .comment-fot {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
}
.comment-box .comment-date {
    color: #bbb;
    font-size: 12px;
}
.comment-box .replay {
    display: inline-block;
    color: #8899a6;
    text-decoration: none;
    font-size: 12px;
}
.comment-box .replay i {
    font-size: 14px;
    margin-right: 5px;
}
.replay-cont {
    padding-top: 5px;
}
.replay-to {
    font-size: 12px;
    color: #bbb;
}
.replay-textbox {
    border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    height: 45px;
    resize: none;
    box-sizing: border-box;
    margin-top: 5px;
}
.btn-replay {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #666;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 30px;
    box-sizing: border-box;
    margin-left: 5px;
}
.btn-replay:hover {
    background-color: #e6e6e6;
}
.order-detail-layer {
    padding: 20px;
}
.read-container {
    padding: 0 15px;
}
.read-item {
    display: flex;
    height: 35px;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}
.read-item:last-child {
    border: none;
}
.read-item a {
    color: #108ee9;
    display: inline-block;
    width: 100px;
    text-decoration: none;
}
.read-item span {
    color: #999;
    display: inline-block;
    width: 130px;
}
.read-item em {
    color: #999;
    display: inline-block;
    flex: 1;
    font-style: normal;
}

/*新增箭头*/
.add-arrow i {
    transition: all 0.15s linear;
}
.add-arrow.active i {
    transform: rotate(-90deg);
}
.add-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    width: 125px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: #ffffff;
    z-index: 1000;
    padding: 5px 0;
}
.add-dropdown li {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
}
.add-dropdown li:hover {
    background: #53b6eb;
    color: #ffffff;
}
.el-input__inner {
    border: 1px solid #ffffff;
    outline: none;
}
.sch-select {
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: inherit;
    vertical-align: middle;
    padding: 5px 10px;
    box-sizing: content-box;
}
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.search-del {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 16px;
    color: #666;
    border: 1px solid #cccccc;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    cursor: pointer;
}
.search-del i {
    font-weight: 900;
}
.search-del:hover {
    border: 1px solid #2dc3e8;
    color: #2dc3e8;
}
.ml10 {
    margin-left: 10px;
}
.add-search-box {
    line-height: 30px;
}
.add-search-box a {
    text-decoration: none;
    color: #108ee9;
    font-size: 14px;
}
/* 批量操作浮动框 */
.batch-box {
    position: fixed;
    top: 50px;
    left: 196px;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
    border-color: #ddd;
    min-width: 840px;
    z-index: 100;
}
.batch-func {
    display: flex;
    align-items: center;
}
.batch-btn {
    padding: 5px 10px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.batch-btn:hover {
    background: #e6e6e6;
    border-color: #adadad;
}
.customColumn-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-sizing: border-box;
}
.customColumn-btn:hover {
    background: #fff;
    border-color: #ccc;
    cursor: pointer;
}
</style>

<script>
import modalDialog from './component/modaDialog'
import scrollWrapper from '@/components/base/scrollWrapper'
import searchModal from '@/components/d/searchModal'
import customColumn from '@/components/base/customColumn'

export default {
    name: 'demandList',
    data() {
        return {
            checkClick: [], // 选中的ID
            checkStatus: false, //全选勾选框状态
            allSearchStatus: false, // 控制对应的搜索条件的拉取
            addArrowStatus: false, // 添加按钮箭头状态
            tableData3: [
                {
                    id: 1,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                },
                {
                    id: 2,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                },
                {
                    id: 3,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                },
                {
                    id: 4,
                    orderId: '18091500231',
                    source: '蔡晶',
                    ReviewStatus: '草稿',
                    SKU: '1808080',
                    itemName: '华为荣耀8 蓝色 32G',
                    itemStatus: '新品测试',
                    warehouse: 'default',
                    stockInv: '100',
                    roadInv: '100',
                    purchaseRequested: '100',
                    sevenSales: '100',
                    thirtySales: '100',
                    orderSize: '',
                },
            ],
            currentPage4: 4,
            count: '',
            showCheckStatus: '', //鼠标经过表格复选框状态，如等于数据id即显示复选框，否则显示id
            checkStatus: false, //全选勾选框状态
            checkClick: [], //勾选数据id集合
            scrollwrapperStatus: false, //弹出层显示状态
            openStatus: '', //打开弹出层类型
            total: 100, //分页总条数
            allSearchStatus: false, //所有筛选条件
            addArrowStatus: false, //添加按钮箭头状态
            searchLine: 1,
            showloading: false, //对话框显示
            detailType:'orderGoodsDetail',  //打开详情类型
            centerDialogVisible: false
        }
    },
    computed: {
        getCheckClickLen() {
            return this.checkClick.length !== 0
        }
    },
    components: {
        searchModal,
        modalDialog,
        scrollWrapper,
        customColumn
    },
    methods: {
        allChecked() {
            if (!this.checkStatus) {
                this.tableData3.forEach((a, index) => {
                    this.checkClick.push(a.id)
                })
            } else {
                this.checkClick = []
            }
            this.checkStatus = !this.checkStatus
        },
        showAllSearch() {
            this.allSearchStatus = !this.allSearchStatus
        },
        showModal() {
            this.showloading = true
        },
        addArrowAction() {
            this.addArrowStatus = true
        },
        removeArrowAction() {
            this.addArrowStatus = false
        },
        handleSizeChange(val) {
            console.log(`每页 ${val} 条`)
        },
        handleCurrentChange(val) {
            console.log(`当前页: ${val}`)
        },
        showCheck(row) {
            this.showCheckStatus = row.id
        },
        hieCheck() {
            this.showCheckStatus = ''
        },
        checkOne(id) {
            if (this.checkClick.indexOf(id) === -1) {
                this.checkClick.push(id)
            }
            if (this.tableData3.length === this.checkClick.length) {
                this.checkStatus = true
            }
        },
        delOne(id) {
            this.checkClick.forEach((a, index) => {
                if (a === id) {
                    this.checkClick.splice(index, 1)
                }
            })
            if (this.tableData3.length !== this.checkClick.length) {
                this.checkStatus = false
            }
        },
        handlecurrentRow(val) {
            this.openStatus = 'detail'
            this.scrollwrapperStatus = true
        },
        handleClose() {
            this.scrollwrapperStatus = false
        },
        handleSelectionChange(val) {
            this.multipleSelection = val
            console.log(val)
            if (val.length > 0) {
                this.ctrListStatus = true
            } else {
                this.ctrListStatus = false
            }
        },
        handleSelectionChange(val) {
            this.multipleSelection = val
            console.log(val)
            if (val.length > 0) {
                this.ctrListStatus = true
            } else {
                this.ctrListStatus = false
            }
        },
        getValue(sku) {
            this.time = setTimeout(() => {
		      	this.openStatus = 'detail'
				this.scrollwrapperStatus = true
		    }, 300)
        },
        closeModal(status) {
            this.showloading = false
        },
        close() {
            this.centerDialogVisible = false
        }
    }
}
</script>

