<template>
	<div class="wrapper">
		<div class="win-search-box">
			<div class="input-item">
				<input type="text" class="win-search-text" placeholder="SKU" />
			</div>
			<div class="input-item">
				<input type="text" class="win-search-text" placeholder="商品名称" />
			</div>
			<a type="button" class="btn-info a-submit">查询</a>
			<a type="button" class="btn-info a-submit green" style="margin-left: 10px;" @click="addNewSku">增加</a>
		</div>
		
		<div class="win-sku-layer">
            <el-table ref="multipleTable" border :data="tableData3" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                <el-table-column type="selection" width="55">
                </el-table-column>
                <el-table-column label="序号" width="120" type="index">
                </el-table-column>
                <el-table-column prop="SKU" label="SKU" width="120">
                </el-table-column>
                <el-table-column prop="name" label="商品名称" show-overflow-tooltip>
                </el-table-column>
                <el-table-column prop="status" label="商品状态" show-overflow-tooltip>
                </el-table-column>
            </el-table>
        </div>
	</div>
</template>

<script>
export default {
	data() {
		return {
			sku: '',
			tableData3: [
                {
                    id: '1',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '2',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '3',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                },
                {
                    id: '4',
                    SKU: '1808080009',
                    name: '华为荣耀8,银色，32G',
                    sendWarehouse: 'default',
                    store: '-10',
                    onWayStore: '10',
                    purchase: '10',
                    sell: '300',
                    status: '清货'
                }
            ],
            multipleSelection: []
		}
	},
	created() {},
	methods: {
		handleSelectionChange(val) {
	        this.multipleSelection = val;
	    },
		addNewSku(){
			if(this.multipleSelection.length > 0){
				this.$store.commit('addSkuStore', this.multipleSelection)
				this.$emit('closeDialog')
			}else{
				this.$message({
		          message: '请选择一条sku添加',
		          type: 'warning'
		        });
			}
		}
	}
}
</script>

<style lang="scss" scoped>
body {
	font-family: 'PingFangSC-Light', 'Hiragino Sans GB', Microsoft YaHei Light, Microsoft YaHei, Arial, sans-serif;
}
.win-search-box{
	display: flex;
}
.input-item{
	width: 240px;
	margin-right: 20px;
}
.win-search-text{
    height: 30px;
    line-height: 24px;
    border: 0;
    background: 0;
    padding: 3px 6px;
    font-size: 15px;
    font-weight: bold;
    color: #454545;
    width: 100%;
    resize: none;
    overflow: auto;
    border-radius: 3px;
    vertical-align: middle;
    -webkit-transition: background .15s linear;
    -o-transition: background .15s linear;
    transition: background .15s linear;
    background: #ddd;
    box-sizing: border-box;
    outline: none;
}
.win-sku-layer{
	margin-top: 20px;
}
.a-submit.green {
    background-color: #5cb85c;
}
</style>

