<template>
    <el-dialog title="自定义列" :visible.sync="centerDialogVisible" :close-on-click-modal="false" :before-close="close" width="798" top="30px" id="customColumn">
        <div class="customColumn-content">
            <!-- 可用字段 -->
            <h5>可用字段（可拖动至"当前字段"）</h5>
            <draggable element="div" v-model="list1" :options="{group:'people'}">
                <el-tag class="tabel-tag" v-for="(item, index) in list1" :key="index" type="info" style="margin-right:10px;margin-bottom:10px;">{{item.name}}</el-tag>
            </draggable>
            <!-- 当前字段 -->
            <h5>当前字段（拖动调整显示顺序）</h5>
            <draggable element="div" v-model="list2" :options="{group:'people'}">
                <el-tag class="tabel-tag" v-for="(item, index) in list2" :key="index" type="info" style="margin-right:10px;margin-bottom:10px;">{{item.name}}</el-tag>
            </draggable>
        </div>
        <span slot="footer" class="dialog-footer">
            <el-button size="mini" @click="close">取消</el-button>
            <el-button size="mini" @click="close">初始化</el-button>
            <el-button size="mini" @click="close">重置</el-button>
            <el-button type="primary" size="mini" @click="close">保存</el-button>
        </span>
    </el-dialog>
</template>

<style>
#customColumn .el-dialog__title {
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}
#customColumn .el-dialog{
	width: 800px;
	border-radius: 6px;
	border: 1px solid rgba(0,0,0,.2);
	box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
#customColumn .el-dialog__header {
    border-bottom: 1px solid #e5e5e5;
    padding:10px 15px;
    height: 51px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#customColumn .el-dialog__headerbtn {
    top: 15px;
    right: 15px;
    font-size: 18px;
}
#customColumn .el-dialog__body {
    padding: 0 15px;
    min-height: 350px;
}
#customColumn .el-dialog__footer {
    border-top: 1px solid #e5e5e5;
}
#customColumn .el-tag {
    cursor: pointer;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 5px;
}
#customColumn .el-tag:hover {
    text-decoration: none;
    background-color: #e6e6e6;
    border-color: #adadad;
    color: #333;
}
#customColumn .customColumn-content h5{
	margin: 15px 0 10px;
	font-size: 14px;
	color: #333333;
}
</style>

<script>
import draggable from 'vuedraggable'
export default {
    props: {
        centerDialogVisible: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            list1: [
                {
                    id: 1,
                    name: '地区'
                },
                {
                    id: 2,
                    name: '类型'
                },
                {
                    id: 3,
                    name: '地址'
                },
                {
                    id: 4,
                    name: '邮编'
                },
                {
                    id: 5,
                    name: '网站'
                },
                {
                    id: 6,
                    name: '电话'
                },
                {
                    id: 6,
                    name: '传真'
                },
                {
                    id: 6,
                    name: '邮件'
                },
                {
                    id: 6,
                    name: '创建时间'
                },
                {
                    id: 6,
                    name: '反馈时间'
                },
            ],
            list2:[
                {
                    id: 1,
                    name: '客户名称'
                },
                {
                    id: 2,
                    name: '客户经理'
                },
                {
                    id: 3,
                    name: '状态'
                },
                {
                    id: 4,
                    name: '行业'
                },
                {
                    id: 5,
                    name: '更新时间'
                }
            ]
        }
    },
    components: {
        draggable
    },
    methods: {
        close() {
            this.$emit('close')
        }
    }
}
</script>

