<template>
	<div class="wrapper" id="wrapper" ref="wrapper" v-show="showloading">
		<div class="modal" @click="closeDialog"></div>
		<div class="modal-dialog" @click.stop="">
			<div class="modal-title">
				<div class="title"><i class="graph graph-orderform"></i>新增</div>
				<div class="modal-close" @click="closeDialog"><i class="el-icon-close"></i></div>
			</div>
			<div class="detail-summary">
				<component :is="dialogType" @closeDialog="closeDialog"></component>
			</div>
		</div>

        <!-- <div class="addSpu-content" v-if="dialogType === 'addSku'">
            <div class="addSpu-title">
                <div class="title"><i class="graph graph-orderform"></i>新增</div>
                <div class="modal-close" @click="closeDialog"><i class="el-icon-close"></i></div>
            </div>
            <div class="addSpu-must-info">
                <div class="addSpu-row">
                    <div class="addSpu-col">123</div>
                    <div class="addSpu-col">123</div>
                </div>
            </div>
        </div> -->
		
	</div>
</template>

<script>
import addSkuTable from '@/components/base/addSkuTable'
export default {
	components: {
        addSkuTable,
    },
	props: {
		showloading: {
            type: Boolean,
            default: false
        },
        dialogType: {
            type: String,
            default: 'addSkuTable'
        }
    },
	data() {
		return {
			sku: ''
		}
	},
	created() {},
	methods: {
		closeDialog() {
			this.$emit('closeModal')
		},
		getValue() {
			let sku = this.sku
			if(sku) {
				this.$emit('getValue', sku)
				this.$emit('closeModal')
			}
		},
	}
}
</script>

<style lang="scss" scoped>
body {
	font-family: 'PingFangSC-Light', 'Hiragino Sans GB', Microsoft YaHei Light, Microsoft YaHei, Arial, sans-serif;
}

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, .5);
	z-index: 1001;
}

.modal-dialog {
	left: 50%;
	width: 800px;
	margin-left: -400px;
	position: absolute;
	top: 30px;
	bottom: 30px;
	margin-top: 0;
	border-radius: 5px;
	margin-bottom: 0;
	z-index: 1002;
	background-color: #eee;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	overflow: hidden;
}

.modal-title {
	padding-left: 20px;
	position: relative;
	background: #f5f5f5;
	height: 50px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
}

.modal-title .title {
	line-height: 50px;
	height: 50px;
	color: #454545;
	font-size: 14px;
	font-weight: bold;
}

.graph {
	background-image: url(../../assets/images/eteams_icons.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.graph-orderform {
	background-position: 0 -1127px;
}

.graph,
.detail-brand .img {
	margin-right: 12px;
	margin-left: -10px;
	height: 36px;
	width: 36px;
}

.modal-close {
	width: 45px;
	height: 50px;
	border-left: 1px solid #ddd;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	color: #454545;
}

.detail-summary {
	padding: 15px 0;
	margin: 0 18px;
}

.summary-avatar {
	height: 30px;
	width: 30px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

.summary-avatar img {
	width: 100%;
	height: 100%;
}

.summary-title {
	margin-left: 36px;
	font-weight: bold;
}

.summary-title textarea {
	height: 30px;
	line-height: 24px;
	border: 0;
	background: 0;
	padding: 3px 6px;
	font-size: 15px;
	font-weight: bold;
	color: #454545;
	width: 100%;
	border-radius: 3px;
	vertical-align: middle;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
	overflow: hidden;
	overflow-wrap: break-word;
	resize: none;
	outline: none;
	font-family: inherit;
	box-sizing: border-box;
}

.summary-title textarea:focus,
.summary-title textarea:hover {
	background: #ddd;
}

.ex-text {
	font-size: 15px;
	font-weight: bold;
	color: #454545;
	font-family: inherit;
	padding: 3px 6px;
}

/*相关的布局*/
.addSpu-content {
    left: 50%;
	width: 800px;
	margin-left: -400px;
	position: absolute;
	top: 30px;
	bottom: 30px;
	margin-top: 0;
	border-radius: 5px;
	margin-bottom: 0;
	z-index: 2001;
	background-color: #eee;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	overflow: hidden;
    .addSpu-title {
        padding-left: 20px;
        position: relative;
        background: #f5f5f5;
        height: 50px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ddd;
        .title {
            line-height: 50px;
            height: 50px;
            color: #454545;
            font-size: 14px;
            font-weight: bold;
        }
        .modal-close {
            width: 45px;
            height: 50px;
            border-left: 1px solid #ddd;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            color: #454545;
            cursor: pointer;
        }
    }
    .addSpu-must-info {
        display: flex;
        padding: 0 18px;
        .addSpu-row {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 45px;
            .addSpu-col {
                flex: 1;
                padding: 6px 17px;
                line-height: 30px;
                margin: 0;
                font-size: 12px;
                display: flex;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: #666666;
                background: #fff
            }
        }
    }
}
</style>

