<template>
	<div :class="scrollwrapperStatus?'scrollwrapper show':'scrollwrapper'" v-clickoutside="handleClose">
		<div class="loading-layer" v-show="loadingStatus"><img src="../../assets/images/thisshop_loading.gif"></div>
		<!--<orderGoodsDetail @handleClose="handleClose"></orderGoodsDetail>-->
		<component :is="detailType" @handleClose="handleClose" @showModal="showModal"></component>
	</div>
</template>

<script>
import orderGoodsDetail from '@/components/purchasingManagement/orderGoodsDetail'
import purchaseListDetail from '@/components/purchasingManagement/purchaseListDetail'
import supplierDetail from '@/components/supplierManagement/supplierDetail'
import addSpu from '@/components/commodityManagement/addSpu'
import addSku from '@/components/commodityManagement/addSku'
import addSupplier from '@/components/supplierManagement/addSupplier'
import defaultSupplierDetail from '@/components/supplierManagement/defaultSupplierDetail'

const clickoutside = {
	//  初始化指令
	bind(el, binding, vnode) {
		function documentHandler(e) {
			/*
			 * 这里判断点击的元素是否是本身，是本身，则返回
			 * 如果是弹出层也返回
			 */
			if(el.contains(e.target)) {
				return false
			}
			// 判断指令中是否绑定了函数
			if(binding.expression) {
				//  如果绑定了函数 则调用那个函数，此处binding.value就是handleClose方法
				binding.value(e)
			}
		}
		//  给当前元素绑定个私有变量，方便在unbind中可以解除事件监听
		el.__vueClickOutside__ = documentHandler
		document.addEventListener('click', documentHandler)
	},
	update() {},
	unbind(el, binding) {
		//  解除事件监听
		document.removeEventListener('click', el.__vueClickOutside__)
		delete el.__vueClickOutside__
	}
}
export default {
	components: {
        orderGoodsDetail,
        purchaseListDetail,
        supplierDetail,
        addSpu,
        addSku,
        addSupplier,
        defaultSupplierDetail
    },
	props: {
		scrollwrapperStatus: this.scrollwrapperStatus,
		detailType:{
            type: String,
            default: 'orderGoodsDetail'
        }
	},
	directives: {
		clickoutside
	},
	data() {
		return {
			loadingStatus:true,
			// currentTabComponent: this.detailType
		}
	},
	created() {
		// console.log(this.currentTabComponent)
	},
	mounted() {
		this.loadingHide()
	},
	methods: {
		handleClose(){
			this.$emit('handleClose')
		},
		loadingHide(){
			this.timer = setTimeout(() => {
				this.loadingStatus = false
		    }, 3000)
		},
		showModal(){
			console.log('点击了show')
			this.$emit('showModal')
		}
	}
}
</script>

<style>
.scrollwrapper {
	position: fixed;
	top: 50px;
	bottom: 0;
	right: 0;
	left: auto !important;
	z-index: 1000;
	background: #f9f9f9;
	border-left: 1px solid #ddd;
	width: 800px;
	box-shadow: -3px 0 4px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease-in-out;
	transform: translateX(100%);
	display: flex;
	flex-direction: column;
}
.loading-layer{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #f9f9f9;
	z-index: 2000;
	text-align: center;
	font-size: 50px;
}
.loading-layer i{
	margin-top: 50px;
}
.scrollwrapper-content {
	flex: 1;
	overflow-y: scroll;
	margin-bottom: 10px;
}

.scrollwrapper-content::-webkit-scrollbar {
	width: 10px;
}

.scrollwrapper-content::-webkit-scrollbar-track {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.scrollwrapper-content::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.scrollwrapper.show {
	transform: translateX(0);
}
</style>