<template>
    <el-container>
        <el-header height="50px">
            <div class="logo-panel"><img src="../../assets/images/logo_white.png"><span>TFT system</span></div>
            <div class="base-nav">
                <ul>
                    <li :class="routerName === item.redirect || routerName === '' ? 'active' : ''" v-for="(item, index) in routerList" :key="index" @click="goMenu(item)"><i class="el-icon-tickets"></i> {{item.meta.title}}</li>
                </ul>
            </div>
            <div class="u-info">
            	<div class="user-avatar"><img src="../../assets/images/avatar.png"></div>
            	<div class="u-name">
            		<span>zouxiaobin</span> 
            		<span class="job">采购主管</span>
            	</div>
            	<i class="el-icon-arrow-down f12"></i>
            	<div class="exit">退出系统</div>
            </div>
            <div class="lang">
            	<i class="el-icon-info"></i>
            	<ul class="dropdown-menu">
            		<li><em class="red">TH</em>Thai</li>
            		<li><em class="blue">ZH</em>中文</li>
            		<li><em class="yellow">EN</em>English</li>
            	</ul>
            </div>
        </el-header>
        <el-container>
            <el-aside width="200px">
                <div :class="leftMenuFlex?'link-item active':'link-item'" @click="leftMenuAction"><span>{{leftMenuTitle}} </span> <i class="el-icon-arrow-right"></i></div>
                <ul :class="leftMenuFlex?'nav-item':'nav-item h-hide'">
                    <li :class="curMenu===index?'active':''" v-for="(item,index) in leftMenuList" :key="index" @click="goPage(item.name,index)">{{item.meta.title}}</li>
                </ul>
            </el-aside>

            <el-main>
                <!-- <keep-alive :include="'currentTabComponent'"> -->
                <!-- <component :is="currentTabComponent"></component> -->
                <router-view :key='key'></router-view>
                <!-- </keep-alive> -->
            </el-main>
        </el-container>
    </el-container>
</template>
<script>
export default {
    data() {
        return {
            leftMenuList: [],
            curMenu: 0, //左侧菜单焦点
            routerList: this.$router.options.routes, //获取路由
            routerName: 'orderGoodsList',
            leftMenuTitle: '',
            leftMenuFlex: true
        }
    },
    computed: {
        key() {
            return this.$route.fullPath
        }
    },
    created() {
        if (this.$store.state.isMenu) {
            this.routerName = this.$route.name
            this.leftMenuTitle = this.$router.options.routes.filter(item => {
                if (item.redirect === this.routerName) {
                    return item
                }
            })[0].meta.title
            this.leftMenuList = this.$router.options.routes.filter(item => {
                if (item.redirect === this.routerName) {
                    return item
                }
            })[0].children
        } else {
            this.leftMenuTitle = this.$store.state.routerItems.meta.title
            this.leftMenuList = this.$store.state.routerItems.children
            this.curMenu = this.$store.state.routerInex
            this.routerName = this.$store.state.routerItems.redirect
        }
    },
    mounted() {},
    methods: {
        goPage(router, index) {
            this.$store.commit('setisMenu', false)
            this.$store.commit('setRouterIndex', index)
            this.curMenu = index
            this.$router.push({
                name: router
            })
        },
        goMenu(item) {
            this.$store.commit('setisMenu', true)
            this.$store.commit('setRouterItems', item)
            this.leftMenuTitle = item.meta.title
            this.leftMenuList = item.children
            this.routerName = item.redirect
            this.curMenu = 0
            this.$router.push({
                name: item.redirect
            })
        },
        leftMenuAction() {
            this.leftMenuFlex = !this.leftMenuFlex
        }
    },
    destroyed() {}
}
</script>
<style scoped>
.el-header,
.el-footer {
	background-color: #8d78b1;
	color: #fff;
	text-align: left;
	line-height: 50px;
}
.el-aside {
    background-color: #fff;
    border-right: 1px solid #eaeaea;
    border-right: 1px solid #eaeaea;
}

.el-main {
  background-color: #f9f9f9;
  padding: 15px 20px 20px;
}
body > .el-container {
    margin-bottom: 40px;
}
.logo-panel {
    width: 180px;
    display: flex;
    align-items: center;
    float: left;
}
.logo-panel span {
    margin-left: 10px;
}
.base-nav {
    height: 50px;
    float: left;
}
.base-nav ul {
    list-style-type: none;
}
.base-nav ul li {
    float: left;
    padding: 0 20px;
    cursor: pointer;
    font-size: 14px;
}
.base-nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
}

/*左侧菜单*/
.link-item {
    margin-top: 20px;
    padding: 8px 12px 8px 30px;
    line-height: 20px;
    color: #3c3c3c;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.link-item i {
    transition: all 0.4s linear;
}
.link-item.active i {
    transform: rotate(90deg);
}
.nav-item {
    max-height: 400px;
    overflow: hidden;
    -webkit-transition: max-height 0.4s;
    transition: max-height 0.4s;
}
.h-hide {
    max-height: 0;
}
.nav-item li {
    font-size: 13px;
    display: block;
    padding: 8px 22px 8px 40px;
    line-height: 20px;
    color: #3c3c3c;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-transition: all 0.15s linear;
    -ms-transition: all 0.15s linear;
    -o-transition: all 0.15s linear;
    transition: all 0.15s linear;
    cursor: pointer;
}
.nav-item li:hover,
.nav-item li.active {
    color: #108ee9;
}
.u-info{
	float: right;
	height: 50px;
	display: flex;
	align-items: center;
	cursor: pointer;
	position: relative;
	padding: 0 6px;
}
.u-info .user-avatar{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	overflow: hidden;
}
.u-info .user-avatar img{
	width: 100%;
	height: 100%;
}
.u-info .u-name{
	margin-left: 6px;
	font-size: 14px;
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	margin-right: 6px;
}
.u-info .u-name span{
	height: 18px;
	line-height: 18px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.u-info .u-name span.job{
	font-size: 12px;
	color: rgba(255,255,255,.8);
}
.exit{
	position: absolute;
	width: 139px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.3);
	top: 100%;
	right:0;
	z-index: 1000;
	color: #666666;
	background: #FFFFFF;
	font-size: 14px;
	text-align: center;
	transition: max-height .3s;
	max-height: 0;
	overflow: hidden;
}
.exit:hover{
	background: #8d78b1;
	color: #FFFFFF;
}
.u-info:hover{
	background: #FFFFFF;
}
.u-info:hover .u-name{
	color: #8d78b1;
}
.u-info:hover .u-name span.job{
	color: #8d78b1;
}
.u-info:hover i{
	color: #8d78b1;
}
.u-info:hover .exit{
	max-height: 100px;
}
.lang{
	width: 50px;
	height: 50px;
	float: right;
	text-align: center;
	line-height: 50px;
	cursor: pointer;
	margin-right: 10px;
	position: relative;
}
.lang:hover{
	background: #FFFFFF;
}
.lang i{
	font-size: 16px;
}
.lang:hover i{
	color: #8d78b1;
}
.dropdown-menu{
	position: absolute;
	width: 120px;
    top: 100%;
    z-index: 100;
    float: left;
    margin: -1px 0 0;
    text-align: left;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);
    margin-top: 0;
    right: 0;
    transition: max-height .3s;
    max-height: 0;
    overflow: hidden;
}
.lang:hover .dropdown-menu{
	max-height: 150px;
}
.dropdown-menu li{
	height: 36px;
	color: #333;
	font-size: 14px;
	display: flex;
	align-items: center;
	padding: 0 10px;
	box-sizing: border-box;
	margin: 5px 0;
}
.dropdown-menu li:hover{
	background: #8d78b1;
	color: #FFFFFF;
}
.dropdown-menu li em{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: #e34e7c;
	font-style: normal;
	font-size: 11px;
	border-radius: 50%;
	text-align: center;
	line-height: 24px;
	color: #FFFFFF;
	margin-right: 5px;
}
.dropdown-menu li em.red{
	background: #e34e7c;
}
.dropdown-menu li em.blue{
	background: #47b9ee;
}
.dropdown-menu li em.yellow{
	background: #fca125;
}
.dropdown-menu li:hover em{
	background: #FFFFFF;
}
.dropdown-menu li:hover em.red{
	color: #e34e7c;
}
.dropdown-menu li:hover em.blue{
	color: #47b9ee;
}
.dropdown-menu li:hover em.yellow{
	color: #fca125;
}
.f12{
	font-size: 12px;
}
</style>
