<template>
    <div class="p-20">
        <div class="list-item" v-for="(item, index) in searchList" :key="index">
            <select class="form-control sch-select" v-model="item.conditions" @change="optionChange(item.conditions, index)">
                <option value="" style="display: none">请选择</option>
                <option v-for="(optionItem, number) in optionList" :key="number">{{optionItem.value}}</option>
            </select>
            <span style="margin-left: 3px;">:</span>
            <select class="form-control sch-select ml10" v-model="item.scope" v-if="item.type === 'input'">
                <option>包含</option>
                <option>不包含</option>
                <option>等于</option>
                <option>不等于</option>
                <option>为空</option>
                <option>不为空</option>
            </select>

            <!-- 通过type 区分 使用下拉框 还是 输入框 -->
            <template v-if="item.type === 'select'">
                <select class="form-control sch-select ml10" v-model="item.information">
                    <option value="" style="display: none">请选择</option>
                    <option>SKU</option>
                    <option>商品名称</option>
                    <option>发货仓库</option>
                    <option>库存数量</option>
                </select>
            </template>

            <template v-if="item.type === 'input'">
                <input class="form-control sch-item ml10" type="text" placeholder="请输入" v-model="item.information">
            </template>

            <span class="search-del ml10" @click="delSearchList(index)"><i class="el-icon-close"></i></span>
        </div>
        <div class="add-search-box"><a href="javascript:;" @click="addSearchList"><i class="el-icon-plus"></i>添加搜索条件</a></div>
        <div class="btn-box">
            <a href="#" class="buy-btn"><i class="el-icon-search f-12"></i> 搜索</a>
            <a href="#" class="buy-btn"><i class="el-icon-refresh f-12"></i> 重置</a>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        optionList: {
            type: Array,
            default: () => {
                return [
                {
                    value: 'SKU',
                    type: 'input' // 类型 select 下拉框 input 输入框
                },
                {
                    value: '商品名称',
                    type: 'input' // 类型 select 下拉框 input 输入框
                },
                {
                    value: '发货仓库',
                    type: 'select' // 类型 select 下拉框 input 输入框
                },
                {
                    value: '库存数量',
                    type: 'select' // 类型 select 下拉框 input 输入框
                }
            ]
            }
        }
    },
    data() {
        return {
            templateObj: {
                conditions: '', // 搜索条件
                scope: '包含', // 选择的范围
                information: '', // 具体的内容
                type: 'input' // 类型 select 下拉框 input 输入框
            },
            searchList: [
                {
                    conditions: '', // 搜索条件
                    scope: '包含', // 选择的范围
                    information: '', // 具体的内容
                    type: 'input' // 类型 select 下拉框 input 输入框
                }
            ]
        }
    },
    created() {},
    methods: {
        delSearchList(index) {
            this.searchList.splice(index, 1)
        },
        addSearchList() {
            const templateObj = Object.assign({}, this.templateObj)
            this.searchList.push(templateObj)
        },
        optionChange(val, index) {
            // 遍历获取该对象
            const optionTypeList = this.optionList.filter(item => {
                return item.value === val
            })
            this.searchList[index].type = optionTypeList[0].type
        }
    }
}
</script>

<style>
.bd-top-line {
    height: 30px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.flex-left {
    display: flex;
    align-items: center;
    flex: 1;
}
.check {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #999;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}
.check i {
    display: none;
}
.check.active i {
    display: inline-block;
}
.form-control {
    vertical-align: middle;
    height: 20px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background: transparent;
    border: none;
    background-image: none;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    outline: none;
}
.input-group {
    width: 180px;
    height: 28px;
    position: relative;
    display: flex;
    border-collapse: separate;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-left: 10px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.search-batch {
    display: inline-block;
    width: 26px;
    height: 28px;
    line-height: 26px;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
}
.arrow {
    width: 36px;
    height: 28px;
    display: inline-block;
    border-left: 1px solid #ddd;
    text-align: center;
    color: #666666;
    font-size: 10px;
    cursor: pointer;
}
.buy-btn {
    display: inline-block;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn {
    display: inline-block;
    font-size: 12px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn em {
    display: inline-block;
    padding-left: 20px;
    font-style: normal;
}
.add-btn span {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-left: 1px solid #50ad50;
    margin-left: 5px;
}
.tab-cont {
    margin-top: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background: #ffffff;
}
.el-pagination {
    margin: 15px 20px;
}
.has-gutter tr {
    background-color: #f5f5f5 !important;
    color: #999999;
}
.el-table th {
    background: #f5f5f5 !important;
    height: 45px;
    padding: 10px 0;
}
.el-table td {
    height: 40px;
    padding: 0;
}
.el-table th.is-leaf {
    background: #f5f5f5;
}
.el-table .cell {
    display: flex;
    align-items: center;
}
.hide {
    display: none;
}
.on-show {
    display: inline-block;
}
.el-input__inner {
    height: 30px;
    line-height: 30px;
    border-radius: 2px;
}

/*弹出窗*/
.scrollwrapper {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: auto !important;
    z-index: 1000;
    background: #f9f9f9;
    border-left: 1px solid #ddd;
    width: 800px;
    box-shadow: -3px 0 4px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
}
.scrollwrapper-content {
    flex: 1;
    overflow-y: scroll;
    margin-bottom: 10px;
}
.scrollwrapper-content::-webkit-scrollbar {
    width: 10px;
}
.scrollwrapper-content::-webkit-scrollbar-track {
    /*background-color:rgba(0,0,0,.05);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.scrollwrapper-content::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.scrollwrapper.show {
    transform: translateX(0);
}
.win-avatar {
    margin-right: 12px;
    margin-left: 12px;
    border-radius: 50%;
    height: 36px;
    width: 36px;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.win-avatar img {
    width: 100%;
    height: 100%;
}
.detail-header-ample {
    position: relative;
    flex: 1;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.detail-close {
    width: 45px;
    height: 50px;
    border-left: 1px solid #ddd;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #454545;
}
.detail-top-title {
    font-size: 14px;
    color: #454545;
    flex: 1;
    display: flex;
    align-items: center;
    font-weight: bold;
}
.detail-top-list {
    display: flex;
    flex: 1;
}
.detail-top-list li {
    margin-right: 20px;
    font-size: 12px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
}
.detail-top-list li a {
    color: #666666;
    text-decoration: none;
}
.detail-top-list li.cur,
.detail-top-list li:hover {
    border-bottom: 2px solid #2dc3e8;
    font-weight: bold;
}
.detail-top-list li.cur a,
.detail-top-list li:hover a {
    color: #2dc3e8;
}
.add-tiel {
    background: #f5f5f5;
    min-height: 51px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.add-tiel span {
    margin: 7px 0 0 20px;
    font-weight: bold;
    color: #454545;
    float: left;
    line-height: 36px;
    font-size: 15px;
}
.el-dialog__headerbtn {
    font-size: 24px;
    top: 12px;
}
.win-btn-box {
    margin: 15px;
}
.p10 {
    padding: 10px;
}
.p20 {
    padding: 20px;
}
.all-search {
    background: #fff;
    border-radius: 3px;
    margin-bottom: 20px;
    max-height: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
}
.open {
    max-height: 3000px;
    border: 1px solid #eaeaea;
}
.order-info,
.count-info {
    margin: 15px;
    background: #ffffff;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    display: flex;
    flex-flow: wrap;
    overflow: hidden;
}
.order-info dl,
.count-info dl {
    padding: 6px 17px;
    line-height: 30px;
    border-bottom: 1px solid #ececec;
    width: 50%;
    margin: 0;
    font-size: 12px;
    display: flex;
    box-sizing: border-box;
    color: #666666;
    margin-bottom: -1px;
}
.order-info dl dt {
    width: 90px;
    font-weight: bold;
}
.order-info dl dd {
    font-size: 14px;
}
.order-info span {
    display: inline-block;
    width: 33.33%;
    color: #666;
    line-height: 40px;
    font-size: 13px;
}
.count-info dl dt {
    width: 100px;
    text-align: right;
    color: #999;
    font-weight: bold;
}
.count-info dl dd {
    margin-left: 10px;
    color: #999;
    font-size: 14px;
}
.order-detail {
    background: #ffffff;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #e5e5e5;
    margin: 0 15px;
}
.detail-title {
    height: 40px;
    line-height: 40px;
}
.detail-title span {
    font-size: 14px;
    border-left: 3px solid #23b7e5;
    padding-left: 10px;
    color: #666666;
}
.count-line {
    font-size: 14px;
    line-height: 40px;
    color: #666;
    display: flex;
    flex-flow: wrap;
}
.count-line span {
    display: inline-block;
    width: 20%;
    font-size: 13px;
}
.mt20 {
    margin-top: 20px;
}
.mb10 {
    margin-bottom: 10px;
}
.open-win-btn {
    border-top: 1px solid #dddddd;
    margin-top: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.el-button--primary {
    background-color: #23b7e5;
    border-color: #18aedb;
    padding: 8px 20px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #23b7e5;
}
.detail-block-tbs {
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    background-color: #fff;
    margin: 0 18px 13px;
}
.detail-tab {
    height: 50px;
    border-bottom: 1px solid #eaeaea;
    box-sizing: border-box;
}
.detail-tab ul li {
    float: left;
    text-align: center;
    margin: 0 15px;
    padding: 0 10px;
    font-size: 14px;
    line-height: 45px;
    color: #777;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
    cursor: pointer;
}
.detail-tab ul li:hover {
    color: #444;
    font-weight: bold;
}
.detail-tab ul li.active {
    color: #444;
    font-weight: bold;
    border-bottom: 2px solid #2dc3e8;
}
.comment-post {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    overflow: hidden;
}
.comment-avatar img {
    width: 100%;
}
.comment-cont {
    flex: 1;
    margin-left: 15px;
}
.comment-cont textarea {
    border-radius: 3px;
    vertical-align: middle;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    min-height: 60px;
    box-sizing: border-box;
    resize: none;
}
.comment-option {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0 0;
}
.a-submit {
    display: inline-block;
    padding: 5px 20px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
    background-color: #23b7e5;
    border-color: #18aedb;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    font-size: 12px;
    border-radius: 3px;
}
.a-submit:hover {
    background-color: #1f9fd1;
}
.comment-item {
    display: flex;
    padding: 15px;
    border-bottom: 1px dashed #ddd;
}
.comment-item:hover {
    background: #f7fdff;
}
.comment-item:last-child {
    border: none;
}
.comment-box {
    flex: 1;
    margin-left: 15px;
}
.comment-box .comment-name {
    text-decoration: none;
    color: #108ee9;
}
.comment-box .comment-body {
    word-wrap: break-word;
    word-break: break-all;
    line-height: 24px;
    font-size: 14px;
}
.comment-box .comment-fot {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 22px;
}
.comment-box .comment-date {
    color: #bbb;
    font-size: 12px;
}
.comment-box .replay {
    display: inline-block;
    color: #8899a6;
    text-decoration: none;
    font-size: 12px;
}
.comment-box .replay i {
    font-size: 14px;
    margin-right: 5px;
}
.replay-cont {
    padding-top: 5px;
}
.replay-to {
    font-size: 12px;
    color: #bbb;
}
.replay-textbox {
    border-radius: 3px;
    vertical-align: middle;
    height: 30px;
    padding: 4px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    width: 100%;
    height: 45px;
    resize: none;
    box-sizing: border-box;
    margin-top: 5px;
}
.btn-replay {
    display: inline-block;
    padding: 5px 10px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    color: #666;
    background-color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 30px;
    box-sizing: border-box;
    margin-left: 5px;
}
.btn-replay:hover {
    background-color: #e6e6e6;
}
.order-detail-layer {
    padding: 20px;
}
.read-container {
    padding: 0 15px;
}
.read-item {
    display: flex;
    height: 35px;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px dotted #ddd;
}
.read-item:last-child {
    border: none;
}
.read-item a {
    color: #108ee9;
    display: inline-block;
    width: 100px;
    text-decoration: none;
}
.read-item span {
    color: #999;
    display: inline-block;
    width: 130px;
}
.read-item em {
    color: #999;
    display: inline-block;
    flex: 1;
    font-style: normal;
}

/*新增箭头*/
.add-arrow i {
    transition: all 0.15s linear;
}
.add-arrow.active i {
    transform: rotate(-90deg);
}
.add-dropdown {
    position: absolute;
    right: 0;
    top: 100%;
    width: 125px;
    border: 1px solid #ccc;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background: #ffffff;
    z-index: 1000;
    padding: 5px 0;
}
.add-dropdown li {
    display: block;
    padding: 5px 20px;
    clear: both;
    font-weight: normal;
    color: #333;
    white-space: nowrap;
    font-size: 14px;
    cursor: pointer;
}
.add-dropdown li:hover {
    background: #53b6eb;
    color: #ffffff;
}
.el-input__inner {
    border: 1px solid #ffffff;
    outline: none;
}
.sch-select {
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-family: inherit;
    vertical-align: middle;
    padding: 5px 10px;
    box-sizing: content-box;
}
.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.search-del {
    display: inline-block;
    width: 28px;
    height: 28px;
    font-size: 16px;
    color: #666;
    border: 1px solid #cccccc;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: bold;
    cursor: pointer;
}
.search-del i {
    font-weight: 900;
}
.search-del:hover {
    border: 1px solid #2dc3e8;
    color: #2dc3e8;
}
.ml10 {
    margin-left: 10px;
}
.add-search-box {
    line-height: 30px;
}
.add-search-box a {
    text-decoration: none;
    color: #108ee9;
    font-size: 14px;
}
/* 批量操作浮动框 */
.batch-box {
    position: fixed;
    top: 50px;
    left: 196px;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #e9e9e9;
    background: #fff;
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.15);
    border-color: #ddd;
    min-width: 840px;
    z-index: 100;
}
.batch-func {
    display: flex;
    align-items: center;
}
.batch-btn {
    padding: 5px 10px;
    font-size: 12px;
    color: #666;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.batch-btn:hover {
    background: #e6e6e6;
    border-color: #adadad;
}
/*搜索展开层*/
.search-cont {
    margin: 20px 0 0;
    border: 1px solid #eaeaea;
    background: #fff;
    padding: 8px 0 0;
    border-radius: 3px;
}
.p-20 {
    padding: 20px;
}
.sch-item {
    border-radius: 3px;
    vertical-align: middle;
    height: 20px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ddd;
    -webkit-transition: border-color ease-in-out 0.15s,
        -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    font-family: inherit;
}
.btn-box {
    margin-top: 20px;
}
.f-12 {
    font-size: 12px;
}
.j_advSearch_close {
    text-align: center;
    cursor: pointer;
    line-height: 16px;
    border-top: 1px solid #eaeaea;
    background: #fafafa;
    font-size: 12px;
    color: #999;
    padding: 5px 0;
}
</style>
