<template>
	<div>1312321323
		<div>
		    	
		</div>
	</div>
</template>
<script>
const clickoutside = {
  // 初始化指令
  bind(el, binding, vnode) {
    function documentHandler(e) {
      // 这里判断点击的元素是否是本身，是本身，则返回
      if (el.contains(e.target)) {
        return false
      }
      // 判断指令中是否绑定了函数
      if (binding.expression) {
        // 如果绑定了函数 则调用那个函数，此处binding.value就是handleClose方法
        binding.value(e)
      }
    }
    // 给当前元素绑定个私有变量，方便在unbind中可以解除事件监听
    el.__vueClickOutside__ = documentHandler
    document.addEventListener('click', documentHandler)
  },
  update() {},
  unbind(el, binding) {
    // 解除事件监听
    document.removeEventListener('click', el.__vueClickOutside__)
    delete el.__vueClickOutside__
  }
}
export default {
  directives: {
    clickoutside
  },
  data() {
    return {
      tableData3: [
        {
          id: '1',
          SKU: '1808080009',
          name: '华为荣耀8,银色，32G',
          sendWarehouse: 'default',
          store: '-10',
          onWayStore: '10',
          purchase: '10',
          sell: '300',
          status: '清货'
        },
        {
          id: '2',
          SKU: '1808080009',
          name: '华为荣耀8,银色，32G',
          sendWarehouse: 'default',
          store: '-10',
          onWayStore: '10',
          purchase: '10',
          sell: '300',
          status: '清货'
        },
        {
          id: '3',
          SKU: '1808080009',
          name: '华为荣耀8,银色，32G',
          sendWarehouse: 'default',
          store: '-10',
          onWayStore: '10',
          purchase: '10',
          sell: '300',
          status: '清货'
        },
        {
          id: '4',
          SKU: '1808080009',
          name: '华为荣耀8,银色，32G',
          sendWarehouse: 'default',
          store: '-10',
          onWayStore: '10',
          purchase: '10',
          sell: '300',
          status: '清货'
        }
      ],
      listQuery: {
        type: '',
        title: ''
      },
      currentPage4: 4,
      count: '',
      showCheckStatus: '',
      checkStatus: false,
      checkClick: [],
      scrollwrapperStatus: false,
      openStatus: '',
      openSearchStatus: false,
      total: 100,
      allSearchStatus: false
    }
  },
  created() {},
  mounted() {},
  methods: {
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`)
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`)
    },
    showCheck(row) {
      this.showCheckStatus = row.id
    },
    hieCheck() {
      this.showCheckStatus = ''
    },
    allChecked() {
      if (!this.checkStatus) {
        this.tableData3.forEach((a, index) => {
          this.checkClick.push(a.id)
        })
      } else {
        this.checkClick = []
      }
      this.checkStatus = !this.checkStatus
    },
    checkOne(id) {
      if (this.checkClick.indexOf(id) == -1) {
        this.checkClick.push(id)
      }
      if (this.tableData3.length == this.checkClick.length) {
        this.checkStatus = true
      }
    },
    delOne(id) {
      this.checkClick.forEach((a, index) => {
        if (a === id) {
          this.checkClick.splice(index, 1)
        }
      })
      if (this.tableData3.length !== this.checkClick.length) {
        this.checkStatus = false
      }
    },
    handlecurrentRow(val) {
      this.openStatus = 'detail'
      this.scrollwrapperStatus = true
    },
    handleClose() {
      this.scrollwrapperStatus = false
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
      console.log(val)
      if (val.length > 0) {
        this.ctrListStatus = true
      } else {
        this.ctrListStatus = false
      }
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
      console.log(val)
      if (val.length > 0) {
        this.ctrListStatus = true
      } else {
        this.ctrListStatus = false
      }
    },
    indexMethod(index) {
      return index + 1
    },
    showAllSearch() {
      this.allSearchStatus = !this.allSearchStatus
    },
    closeAllSearch() {
      this.allSearchStatus = false
    }
  },
  destroyed() {}
}
</script>
<style>
.bd-top-line {
  height: 30px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-left {
  display: flex;
  align-items: center;
  flex: 1;
}
.check {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #999;
  line-height: 14px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
.check i {
  display: none;
}
.check.active i {
  display: inline-block;
}
.form-control {
  vertical-align: middle;
  height: 20px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  background-color: #fff;
  border: none;
  background-image: none;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: none;
}
.input-group {
  width: 180px;
  height: 28px;
  position: relative;
  display: flex;
  border-collapse: separate;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 10px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.search-batch{
	display: inline-block;
	width: 26px;
	height: 28px;
	line-height: 26px;
	color: #666666;
	font-size: 10px;
	cursor: pointer;
}
.arrow{
	width: 36px;
	height: 28px;
	display: inline-block;
	border-left: 1px solid #ddd;
	text-align: center;
	color: #666666;
	font-size: 10px;
	cursor: pointer;
}
.buy-btn{
	display: inline-block;
	padding: 5px 20px;
    font-size: 12px;
    border-radius: 3px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn{
	display: inline-block;
	padding-left: 20px;
    font-size: 12px;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #50ad50;
    text-decoration: none;
}
.add-btn span{
	display: inline-block;
	height: 30px;
	width: 30px;
	text-align: center;
	line-height: 30px;
	border-left: 1px solid #50ad50;
	margin-left: 5px;
}
.tab-cont{
	margin-top: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
    background: #FFFFFF;
}
.el-pagination{
	margin: 15px 20px;
}
.has-gutter tr{
	background-color: #f5f5f5 !important;
	color: #999999;
}
.el-table th{
	background: #f5f5f5 !important;
	height: 45px;
	padding: 10px 0;
}
.el-table td{
	height: 40px;
	padding: 0;
}
.el-table th.is-leaf{
	background: #f5f5f5
}
.el-table .cell{
	display: flex;
	align-items: center;
}
.hide{
	display: none;
}
.on-show{
	display: inline-block;
}
.el-input__inner{
	height: 30px;
	line-height: 30px;
    border-radius: 2px;
}

/*弹出窗*/
.scrollwrapper {
  position: fixed;
  top: 50px;
  bottom: 0;
  right: 0;
  left: auto !important;
  z-index: 1000;
  background: #f9f9f9;
  border-left: 1px solid #ddd;
  width: 800px;
  box-shadow: -3px 0 4px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
}
.scrollwrapper.show {
  transform: translateX(0);
}
.add-tiel {
  background: #f5f5f5;
  min-height: 51px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-tiel span {
  margin: 7px 0 0 20px;
  font-weight: bold;
  color: #454545;
  float: left;
  line-height: 36px;
  font-size: 15px;
}
.el-dialog__headerbtn {
  font-size: 24px;
  top: 12px;
}
.win-btn-box {
  margin: 15px;
}
.p10 {
  padding: 10px;
}
.p20 {
  padding: 20px;
}
.all-search {
  background: #fff;
  border-radius: 3px;
  margin-bottom: 20px;
  max-height: 0;
  -webkit-transition: max-height 0.5s;
  transition: max-height 0.5s;
}
.open {
  max-height: 3000px;
  border: 1px solid #eaeaea;
}
.order-info {
  margin: 15px;
  background: #ffffff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-flow: wrap;
}
.order-info span {
  display: inline-block;
  width: 33.33%;
  color: #666;
  line-height: 40px;
  font-size: 13px;
}
.order-detail {
  background: #ffffff;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #e5e5e5;
  margin: 0 15px;
}
.detail-title {
  height: 40px;
  line-height: 40px;
}
.detail-title span {
  font-size: 14px;
  border-left: 3px solid #23b7e5;
  padding-left: 10px;
  color: #666666;
}
.count-line {
  font-size: 14px;
  line-height: 40px;
  color: #666;
  display: flex;
  flex-flow: wrap;
}
.count-line span {
  display: inline-block;
  width: 20%;
  font-size: 13px;
}
.mt20 {
  margin-top: 20px;
}
.mb10 {
  margin-bottom: 10px;
}
.open-win-btn {
  border-top: 1px solid #dddddd;
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.el-button--primary {
  background-color: #23b7e5;
  border-color: #18aedb;
  padding: 8px 20px;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #23b7e5;
}

/*搜索展开层*/
.search-cont {
  margin: 20px 0 0;
  border: 1px solid #eaeaea;
  background: #fff;
  padding: 8px 0 0;
  border-radius: 3px;
}
.p-20 {
  padding: 20px;
}
.sch-item {
  border-radius: 3px;
  vertical-align: middle;
  height: 20px;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 20px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ddd;
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.btn-box {
  margin-top: 30px;
}
.f-12 {
  font-size: 12px;
}
.j_advSearch_close {
  text-align: center;
  cursor: pointer;
  line-height: 16px;
  border-top: 1px solid #eaeaea;
  background: #fafafa;
  font-size: 12px;
  color: #999;
  padding: 5px 0;
}
</style>
