<template>
    <div id="app">
        <router-view />
        <lg-preview></lg-preview>
    </div>
</template>

<script>
export default {
  name: 'App',
  computed: {
    toast() {
      return this.$store.state.toast.text
    },
    showToast() {
      return this.$store.state.toast.switch
    }
  },
  created() {
    
  },
  methods: {}
}
</script>

<style>
* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'PingFangSC-Light', 'Hiragino Sans GB', Microsoft YaHei Light,Microsoft YaHei, Arial, sans-serif;
}
ul,li,dl,dd{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
    font-size: 12px;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999;
   font-size: 12px;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999;
   font-size: 12px;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999;
   font-size: 12px;
}
#app{
	flex: 1;
	display: flex;
}
</style>
